[2020-05-11 20:54] J3m5 commented on #482
MongoDB allows to query a array with exact equality but it that case it respect the specific order of the items in the array.

Did you try this?
[code]
Or you can use the $all operator like that:

[code]
but you might need to [whitelist](https://docs.feathersjs.com/api/databases/common.html#options) the `$all` operator at the level service.

[2020-05-11 21:29] kshitizshankar commented on #482
@J3m5 Thanks a lot!! I just stumbled on it as well. Ended up digging around in the code, found out that sift is being used to filter the results and the `whitelist` option is sent as a parameter.

`$all` seems to work as expected after whitelisting it! :)

Can I safely whitelist `$and` or other mongodb operators as well? On the [mongodb $all documentation page](https://docs.mongodb.com/manual/refe

[2020-05-11 21:51] J3m5 commented on #482
It depends on what you want your users to be able to do with your data, but for $and I would say yes, but there might be a risk of data leak with the $populate operator for example.

You should try [this](https://github.com/crcn/sift.js/issues/161)

[2020-05-11 22:05] kshitizshankar commented on #482
If I add it to the `additionalOperators=['$elemMatch']` in the 'service-module.getters.js' file and replace it with `const additionalOperators = ['$elemMatch','$and']` - It starts working and let's me execute the `{ $and: [ { tags: "ssl" }, { tags: "security" } ] }` query.

[code]
Why do the top-level `$` operators get filtered out irrespective of the whitelist? Trying to get a better understandin

[2020-05-11 22:26] J3m5 commented on #482
I think it's because of this:
[code]

The filtering doesn't take the whitelist into account, I've seen it before but I don't know why it's done because the `cleanQuery` function is there for that and it is recursive.

[2020-05-11 22:42] J3m5 commented on #482
[When the whitelist was implemented](https://github.com/feathersjs-ecosystem/feathers-vuex/commit/9cd228405e15cf2f867cfdbc01a7174d897c6de0#diff-49ecb182ead299d15579b5ecb4ff549dR24), it was not added in the filter.
So we need to know if this filtering is really necessary, if yes add the whitelist to the filtering and if not remove the whole filtering.

[2020-05-11 22:42] kshitizshankar commented on #482
Yeah I get what is happening in that flow - just don't understand why 😅
So I have no idea if this is a bug or if there are other concerns that led to removing all '$' operators from the top-level of the query except those specifically hard-coded in there.

Hopefully, someone else can shed some light on this!

[2020-05-11 22:55] J3m5 commented on #482
I think that we can safely remove this code block because[ the `filterQuery` function doesn't keep the operator if it's not in the given operators list](https://github.com/feathersjs/feathers/blob/3215714766f047cc9526f260796467b3c52f8d15/packages/adapter-commons/src/filter-query.ts#L47).

[2020-05-12 07:30] pliersch commented on #252
Hello, i cant find the source code of the full nuxt example. I'm blind?

[2020-05-12 13:20] kshitizshankar commented on #446
@marshallswain Oh awesome - looks like what I've been trying to find exactly! I'll check it out and see how it would fit into my specific use-case. Thanks!

[2020-05-12 13:31] kshitizshankar commented on #482
@J3m5 Oh perfect - This would make my life a lot easier for sure if it can be safely removed!

[2020-05-12 14:53] marshallswain commented on #252
It’s directly in the docs. Not in a repo

Sent from my iPhone

[2020-05-13 01:22] netwrkx opened #484 "how do i get paramsForServer data"
i cant seems to get data on the server,

on Client Side
[code]
On server
[code]

[code]

[2020-05-13 23:05] koraniar opened #486 "Error quering with $sort and $skip"
### Steps to reproduce
I am fetching all the data from the server by groups of 10 records ordered by a property called `status` with this recursive function:
[code]

And I am printing the result in a table getting the data from the store with this computed function:
[code]

But `storedDevices` only returns **53** records, `fetchDevicesFromApi` is fetching **56** records, and in my database, there

[2020-05-13 23:21] hamiltoes commented on #484
[Here's the docs](https://vuex.feathersjs.com/service-plugin.html#configuration) about the service module config options.

`paramsForServer` is a kinda misleading name because it's actually used here to strip properties out of the query you're passing to the `find()` *getter* which pulls data from the local store. (Maybe it should be called `serverOnlyQueryFields` or something). But basically this

[2020-05-14 00:08] hamiltoes commented on #486
This is likely not a Feathers Vuex issue because like you said, when you don't pass `$sort` to `Devices.find()`, you get all the records from the API and no duplicates. The call to `Devices.find()` just passes your params directly to the API so it seems like you're not actually pulling all 56 records to the client.

The first thing I would try is changing your `fetchDevicesFromApi` method to incre

[2020-05-14 00:33] koraniar commented on #486
Thank you for your fast response @hamiltoes

Replacing `data.length` by `(this.page * 10)` has the same result

I have tried to perform the call to the API on change the page, but I get the same result.

I am using PosgreSQL.

[2020-05-14 01:08] hamiltoes commented on #486
I think you're correct in your initial assessment.

According to the [Postgre docs](https://www.postgresql.org/docs/current/queries-order.html), sort order is not guaranteed amongst items with the same value. With 55 of your records having the same status, your query is not getting the same order every time. But you can specify multiple sorts so that items with the same value are then sorted.

Thi

[2020-05-14 01:40] koraniar commented on #486
@hamiltoes You are completely right, excellent explanation.

Thank you so much.

[2020-05-14 01:40] #486 closed

[2020-05-14 02:28] netwrkx commented on #484
@hamiltoes it worked, thanks

[2020-05-14 02:29] #484 closed

[2020-05-14 04:32] tylermmorton commented on #480
I haven't forgotten about this issue. I'm still playing around in my personal project and trying different solutions. If anyone has any ideas on this I'd be happy to try them out.

I haven't figured out yet how to automatically hydrate the objects when Nuxt serves the page on a reload. There just isn't a good hook to use for this. If Nuxt had a `fetched()` hook that gets called after a `fetch()` q

[2020-05-20 00:01] jd1378 commented on #351
Sorry but it feels like the docs still lack Nuxt SSR example, as the docs still do the auth on the client side , not the server side. and the end point being on another domain doesn't affect Nuxt receiving the cookies. please correct me if I'm wrong.

[2020-05-20 00:44] jd1378 commented on #351
For anyone who is reading this later, I found a short chat going on featherjs slack and a response from marshall that confirms it that doing auth on SSR has problems currently:
``
just checking here for a sanity check. We just found that calling auth/authenticate inside nuxtServerInit whilst nuxt is in production mode will cause the nuxt SSR to cache the response or something, then issuing users w

[2020-05-23 20:41] thomasvds opened #488 "Infinite render loop when instantiating 2 new models"
First of all, thanks a lot for this excellent framework which finally brings some strong opinions as of how Vuex should be structured and configured 💪

### Steps to reproduce
I am reproducing the CRUD form [example from the documentation](https://vuex.feathersjs.com/feathers-vuex-forms.html#formwrapper-example-crud-form) using `FeathersVuexFormWrapper`.

Things work fine when I am using a single i

[2020-05-23 20:51] nakedgun opened #489 "WS: Service state ids do not include new model ids added on the client"
### Steps to reproduce

1. Setup feathers client + a service plugin based upon the docs: e.g. [here](https://vuex.feathersjs.com/getting-started.html#feathers-client-feathers-vuex) or [here](https://vuex.feathersjs.com/nuxt.html#working-with-auth-nuxt).

2. Set feathers client to web sockets

3. Create a new model instance and save it:

[code]

### Expected behavior
`console.log(this.$store.state.

[2020-05-23 21:05] hamiltoes commented on #489
I have a hunch I broke this.

Take a look at the `updateTemp` mutation. It is moving the temp from `tempsById` to `keyedById` but it also needs to put the new id in `ids`.

[2020-05-23 22:01] nakedgun commented on #489
@hamiltoes good hunch. Adding this line seems to fix it:

[code]

[2020-05-24 19:30] thomasvds commented on #488
I was able to reproduce the issue of infinite loop on the example chat app: https://github.com/thomasvds/feathers-vuex-example.

The repro file is [this one](https://github.com/thomasvds/feathers-vuex-example/blob/master/src/views/Repro.vue), reproduced below for simplicity.

Note that the problem only appears when I use a [logger in the Vuex plugins](https://vuex.vuejs.org/guide/plugins.html#buil

[2020-05-24 21:03] marshallswain commented on #482
I would really appreciate a PR if this will benefit users.  I'm a bit strapped for time for the next week or so, but I can review PRs and do releases.  Thanks guys!

[2020-05-24 21:07] marshallswain commented on #488
@thomasvds thanks for the research into this and the test repo.  I'm super short on time right now, at the cusp of a product launch.  I won't be able to address this for at least a week.   I really appreciate the great documentation for the issue, and I'll assist as soon as I can.

[2020-05-25 08:03] thomasvds commented on #488
@marshallswain actually no worries at all on my side because the issue disappeared as soon as I removed the logger. However I believe interesting learnings would come out of a deeper analysis of the topic :)

[2020-06-02 19:27] matiaslopezd commented on #441
@marshallswain The demo is broken.

https://codesandbox.io/s/xk52mqm7o

![image](https://user-images.githubusercontent.com/23618492/83561295-96a3ba80-a4e5-11ea-87cc-5691815dfd43.png)

[2020-06-02 21:21] phatj commented on #470
Thank you both for your work on this issue.

This change does introduce a minor annoyance for Nuxt SSR whereby it constantly complains that the state is overridden (while in dev mode, mind you; in production, the warning is suppressed via [vuex](https://github.com/vuejs/vuex/blob/b2df4db582418ea7a9fbc8c7e46d6486f335d72b/src/store.js#L351)).

The specific warning is caused by setting `preserveState

[2020-06-03 16:12] nakedgun commented on #470
Hey @phatj ! Can you post the warning that you are getting for state being overridden? I've never gotten this for a service module -- only the _auth_ module, which is separate to this flow.

As for your suggestion, I agree in principal that it would be nice to make this configurable. However, I did a quick test (by setting `preserveState: true` and  _preserving_ model state in (2b^) so the two set

[2020-06-07 06:41] phatj commented on #470
Hi @nakedgun, thanks for responding so quickly!  My apologies for the late reply, my notifications were buried, haha.

This is the warning I got:
[code]

I've since wrapped the plugin call with my own `registerModule` hack and everything is nice and peachy again.

That's quite an interesting pickle with the SPA mode.  I've attempted to replicate it in my own repo, but haven't had any luck with it

[2020-06-07 16:56] nakedgun commented on #470
R.e. global models - for sure, they're an anti-pattern in SSR. My guess is feathers-vuex started off as a client side lib and then evolved to support nuxt/SSR later.

Would probably be best! I can't repro with my codebase -- if you have the time, something demonstrating the issues would be great. The auth one is particularly bad.

Hard to be certain without seeing the code, but my hunch is you hav

[2020-06-07 20:52] phatj commented on #470
I'll take a look into this today.  There are some hoops to jump through as the official documentation for nuxt integration with socket.io also relies on global state (which is problematic in particular for the socket.io transport as authentication is saved on the connection itself, iirc).

I may try with a RESTful transport only and see if the same errors pop up.

Unfortunately, I only have the `u

[2020-06-07 23:24] phatj commented on #470
Please see the repo pair here, @nakedgun:
- https://github.com/phatj/nuxt-feathers-vuex-example-api
- https://github.com/phatj/nuxt-feathers-vuex-example-client

This setup follows the spirit of the official docs, but encloses most setup/config steps in request contexts.  It's pared down from a couple of my production projects.

Copy the `.env.default` file to `.env` to get it started.

From here,

[2020-06-08 21:02] marshallswain commented on #471
`unRef` is now available in `@vue/composition-api@0.6.0`

https://github.com/vuejs/composition-api/releases/tag/v0.6.0

[2020-06-08 21:05] marshallswain commented on #456
As of `@vue/composition-api@0.6.0` there is a built-in way of making sure props stay reactive:

https://vue-composition-api-rfc.netlify.app/api.html#toref

![Screen Shot 2020-06-08 at 3 04 12 PM](https://user-images.githubusercontent.com/128857/84080376-563ab580-a999-11ea-9081-6353326c734b.jpg)

After playing with this more, wrapping the prop in a ref seems to be the only way to keep this reactive

[2020-06-08 21:05] #456 closed

[2020-06-12 22:13] coderinblack08 opened #493 "Feathers Error When Sending Patch Request"
After trying to copy a patch request form the docs and running it, I keep getting a feathers error saying that BAD REQUEST 400: "Cast to ObjectId failed for value "{ name: 'Hi', completed: true }" at path "_id" for model "schools"". Can anyone help me?

Feathers vuex version: 3.10.4
code:
[code]

[2020-06-12 22:35] J3m5 commented on #493
This error come from feathers. Are you using Mongoose ?
The error might happens because the number can"t be converted to a valid ObjectId.

[2020-06-12 22:37] coderinblack08 commented on #493
Yeah I am using mongoose, can you please clarify what you mean by "the number can"t be converted to a valid ObjectId."

[2020-06-12 22:44] coderinblack08 commented on #493
This error even appears when I send a get request.
[code]

[2020-06-12 23:20] coderinblack08 commented on #493
Also, I have checked the docs, they have a way of updating/patching, but how can I make it so id does it to an existing model?
[code]

[2020-06-12 23:21] J3m5 commented on #493
Mongoose will try to convert the id you pass to the type it should be, and the ids in mongodb are [ObjectIds](https://docs.mongodb.com/manual/reference/bson-types/#objectid).
And the number 1, in your case can't be converted to an ObjectId.
So to make it works, the update action must be called with an id that is a valid ObjectId ans that exist in you mongodb collection.
And the same goes for the g

[2020-06-12 23:25] J3m5 commented on #493
Each items in the store has those methods on it, so the update/patch will work on it.

[2020-06-12 23:29] coderinblack08 commented on #493
🙏🙏🙏🙏🙏 Thanks so much, Better read the documentation properly next time 😉

[2020-06-12 23:32] #493 closed

[2020-06-14 18:51] yohane55 opened #494 "'auth/user' is not reactive in different tabs"
I am using `user` getter on Nuxt SPA. But when I logout on one tab the other tab stays logged in and can perform any action. How can we manage to have a global state in all tabs?

here is how I get the user object
[code]

[2020-06-14 20:23] #494 closed

[2020-06-14 20:24] yohane55 commented on #494
I end up using other modules to share mutation on auth plugin so other tabs update to latest state.

[2020-06-14 21:28] nakedgun commented on #470
@phatj you're probably right here. I played around with your repos and get the same error -- sadly right now I don't have the cycles to dig much deeper. Perhaps if you could simplify the repro down to the bare minimum and create a separate case someone from the core team might be able to help (I feel like it'll get lost in sea in this case). FYI, I can't reproduce this with my own codebase, which

[2020-06-14 23:31] phatj commented on #470
Thanks, @nakedgun.

I've forked this codebase and started to get deeper into the mechanics of feathers-vuex.  Unfortunately, it will require an extensive refactor to encapsulate the global variables:
- moving global objects back into context
- shifting the BaseModel to use dependency injection rather than overwriting it's static store variable
- injecting the models into the store (which probably

[2020-06-16 18:04] nakedgun commented on #470
@phatj One last thing I might add - I don't know your setup or constraints, but another approach here is to use a serverless function for SSR instead. Since they are - by design - short lived processes, you don't have to worry about state pollution (or other annoying SSR gotchas) between requests. Once the client has loaded the SSR bundle, it can then talk to your API server, and pretend like none

[2020-06-17 19:23] BaroDevelopment opened #495 "useFind is getting spammed - normal?"
### Steps to reproduce
Consider the following computed value allTodos:
[code]

the todos.items is getting logged into the console every second. Is this intended?

### Expected behavior
Shouldn't it be event based?

### Actual behavior
the todos.items is getting logged into the console every second. Is this intended?

[2020-06-17 20:17] hamiltoes commented on #495
`useFind` is a Vue composition function and should only be used in a component's `setup` method.

If you want to call find in a computed, use the `find` action in the Vuex store. Since you already accessed the model, just call the model's static method `model.find` or `model.findInStore`

[2020-06-17 20:32] BaroDevelopment commented on #495
Thanks for the answer. That makes actually sense.
What is the difference between useFind and find()?

[2020-06-21 01:04] marshallswain commented on #495
@BaroDevelopment `useFind` is the composition-api equivalent to the `makeFindMixin`.  If you're not using the `@vue/composition-api` plugin, then you need to use `makeFindMixin` to get the same functionality.

`makeFindMixin` and `useFind` both use the `find` action and the `find` getter to perform realtime queries with fall-through cache.  They give you a declarative api for working with reactive

[2020-06-21 01:05] marshallswain commented on #495
And to confirm, yes, `useFind` must be used in a component's `setup` method.

[2020-06-21 01:06] marshallswain commented on #489
I'm pretty sure this can be closed, now.  Please reopen if I'm mistaken.

[2020-06-21 01:06] #489 closed

[2020-06-21 01:07] marshallswain commented on #471
I'm pretty sure ref and computes are supported everywhere applicable, now.

[2020-06-21 01:07] #471 closed

[2020-06-21 09:27] virus-pk opened #497 "https://vuex.feathersjs.com/ is down - This Domain Name Has Expired"
### Steps to reproduce

- [ ] Hit URL
- [ ] [vuex.feathersjs.com](https://vuex.feathersjs.com/)

**Browser Version**:

Google Chrome
Version 83.0.4103.106 (Official Build) (64-bit)

[2020-06-21 09:28] virus-pk commented on #497
is there another way to see the docs?

[2020-06-21 09:52] J3m5 commented on #497
It is not only about feathers-vuex, the whole domain has expired.

[https://feathersjs.com/](https://feathersjs.com/)

[2020-06-21 14:42] #495 closed

[2020-06-21 19:22] fratzinger commented on #497
up and running again. I think this can be closed :)

[2020-06-22 03:45] #497 closed

[2020-06-22 18:11] coderinblack08 opened #498 "https://vuex.feathersjs.com/ Domain Name Expired"
I am pretty sure some of you noticed, but the domain name for vuex.feathersjs.com has expired. It seem that feathersjs.com is fine though?

[2020-06-22 18:53] coderinblack08 commented on #498
All Good now!

[2020-06-22 18:53] #498 closed

[2020-06-23 22:04] BaroDevelopment opened #499 "[Question] How to access the user id"
Hello,
the user_id is not set when i refresh the website because store is not ready yet.
Any idea how to fetch the user_id once store is filled?

I searched in the docs but couldn't find anything that can help me with this problem.

[code]

Thanks in advance!

[2020-06-24 07:17] J3m5 commented on #499
You must call the authenticate action before your app startup in order to authenticate with the JWT stored in localstorage.
Then the user will be available.

[2020-06-24 23:27] hamiltoes commented on #488
After a superficial read-through, my best guess is that the issue is you're calling `new Person()` and `getFromStore` in the same `computed`. `new Person()` is going to create a new Person Model and store it the service's Vuex state in `tempsById`. But then `getFromStore` will cause the computed to fire again because it is reactive to `tempsById` changes. But `itemId` is still null so it again cal

[2020-06-27 16:50] #499 closed

[2020-07-04 12:34] J3m5 opened #500 "FeathersVuexFormWrapper: watch prop is not used and default value is not in sync with the doc"
[The watch prop](https://github.com/feathersjs-ecosystem/feathers-vuex/blob/9060174ce6e6a50ad79f8677e8b4dc11504decd0/src/FeathersVuexFormWrapper.ts#L22) in the FeathersVuexFormWrapper component doesn't seem to be used.
And it's default value is set to true when [the docs say the opposite](https://github.com/feathersjs-ecosystem/feathers-vuex/blame/master/docs/feathers-vuex-forms.md#L142).

[2020-07-05 19:32] BaroDevelopment opened #501 "[Question] How do I access the feathers client with FeathersVuex"
Hello,

in the [feathers docs](https://docs.feathersjs.com/api/client.html#node) I have found the following code for client side usage:

[code]

My question is - is there a way to access this client variable also using FeathersVuex?

Since FeathersVuex has a socket already ... it must be somewhere

I could use the code above but i guess i will have 2 soeckts in this case running.

[2020-07-05 20:00] BaroDevelopment commented on #501
I wanna know how I can disable the real time feature for a specific Model.

I am using the Model mainly for CRUD actions and dont need real time updates for it

[2020-07-05 20:12] #501 closed

[2020-07-05 20:16] BaroDevelopment opened #502 "[Question] How do I disable socket events from a model?"
Hello,

i do not wanna receive sockets events from a specific model.

How do i disable them?

I just need that Model for CRUD operations and therefore it doesnt need to be real time for my case.

[2020-07-05 21:24] BaroDevelopment commented on #502
found it - solution was using enableEvents: false

[2020-07-05 21:24] #502 closed

[2020-07-06 20:47] Jarwain opened #503 "`nuxt export` throws initAuth error with a "universal static" configuration."
### Steps to reproduce

[Slack context](https://feathersjs.slack.com/archives/C11VCU0Q4/p1593010596294300)

- Create a Feathers-Vuex-Nuxt project
- Follow all instructions as outlined in [documentation](https://vuex.feathersjs.com/nuxt.html#working-with-auth-nuxt)
- Set `nuxt.config.js` to have
[code]
- Run `nuxt build && nuxt export` or `nuxt dev`

Here's my reproduction repository. This isn't th

[2020-07-07 01:08] marshallswain commented on #500
hah!  Thanks for filing.  That deserves some cleanup.

[2020-07-07 08:36] J3m5 commented on #500
IMO, the default value of watch should be true.

I ended up heavily customizing the FormWrapper  for my use case.
I needed it for a table and I thought that cloning every item would be unnecessary and would hurt perfomance if it was used with too many items.
So I added a computed with a getter and a setter, the getter return the clone or the original item and the setter clone the item if the clone

[2020-07-08 10:28] tvld opened #504 "FeathersVuexPagination.js: export 'createElement' was not found in '@vue/composition-api"
### Steps to reproduce

Fresh, new install in Nuxt  2.1:
[code]
And then:

[code]
First attempt I get warning I need to install ``@vue/composition-api`` Was not clear from docs, but ``npm install save ...``.

But now I am stuck after:
[code]

[2020-07-11 20:50] phatj commented on #504
@tvld, the composition API entered beta status and broke a couple of things.

Use `@vue/composition-api@0.6.7` (version 0.6.7) instead:
[code]

The `createElement` function that was imported has been aliased to just `h` as a convention (see: [here](https://vuejs.org/v2/guide/render-function.html#JSX))

[2020-07-11 22:00] Peras795 commented on #504
Ty! @phatj

[2020-07-13 10:53] tvld commented on #504
Thank you. Did not test yet, as for now we skipped -vuex for feathers, but will mark closed ;)

[2020-07-13 15:05] Peras795 commented on #504
In my case, upgrading the package composition-api to the latest version, fixed the warning/error message.

[2020-07-13 19:53] J3m5 commented on #504
The[ V1 beta 1 version](https://github.com/vuejs/composition-api/releases/tag/v1.0.0-beta.1) of the composition-api library has  introduced a breaking change by renamming the createElement function to simply `h`.
`rename createElement to h (#400)`

And feathers-vuex use it in the pagination component [here](https://github.com/feathersjs-ecosystem/feathers-vuex/blob/9060174ce6e6a50ad79f8677e8b4dc11

[2020-07-14 07:11] tvld commented on #504
Can't you, for the time being, just accept both ``h`` and ``createElement`` ?

[2020-07-14 10:58] marshallswain commented on #504
If it's possible to make it flexibly handle both, that's definitely the best solution for right now.  @J3m5 the people working on the composition api have been actively making it match vue-next, so I think it will be fine to make the updates.  We can release it as a minor.  I'll outline the details in the release notes.

[2020-07-19 11:09] lturel opened #507 "Compilation (or Loading) problem for ES6+"
Hi Marshall,

I am developing a small app  with  **QuasarJS** (1.9.9) + **Feathers** (4.5.5) + **Feathers-Vuex** (3.11.5).
**Node** (12.9.1).

In quasar.conf.js  there exists,   transpileDependencies: ["feathers-vuex"].
I am working on  Win 10.

On the client side;  if I compile by  >  **quasar dev,**   in compile messages it says,  **Generating legacy js code (ES5); use "--modern" param for ES6+*

[2020-07-19 14:38] J3m5 commented on #507
Class static fields are not handled by webpack as it's still a stage 2 ECMA feature.
The equivalent of this is to assign the value on the class once it has been created.

[See here in the docs](https://vuex.feathersjs.com/model-classes.html#extending-the-basemodel-class)

I have the same stack as you and this is what I do.

[2020-07-19 19:03] lturel commented on #507
@J3m5 thanks a lot.
It worked for me too.

Replaced the static definitions  in ./src/store/services/users.js    by;

[code]
    User.modelName = 'User'
    User.instanceDefaults = function() {
      return {
          email: '',
          password: ''
      }
    }
[code]

[2020-07-19 19:04] #507 closed

[2020-07-20 23:44] apmcodes opened #508 "mapGetters Find params query with nested object"
Server is returning nested/ relationship object as below. But, its not visible in the UI. How can we query it from store.

FindTickets (mapGetters) returning tickets with nested associated users
[code]
Trying to filter tickets by users belonging to property in the UI. Correct results are returned by Feathers but not able to filter it in the UI.

params.query
[code]

[2020-07-21 07:46] J3m5 commented on #508
FeathersVuex use the sift/mongo syntax for querying so you can use the dot syntax like that:
[code]

[2020-07-21 09:09] apmcodes commented on #508
Thank you @J3m5. This helped filter data.

[2020-07-21 09:09] #508 closed

[2020-07-21 21:09] apmcodes opened #509 "On instance.save related object from store is not populated"
### Steps to reproduce

Create a new item using instance.save which has a userId.
[code]

Need to populate the related user from the store
[code]

Model is using setupInstance
[code]

Should we manually populate related object from store may be using hook or something else? Have gone through the docs but not able to understand how to achieve this.

### System configuration
[code]

[2020-07-21 21:15] J3m5 commented on #509
You are checking `data.user` and not `data.userId`.

[2020-07-22 16:22] apmcodes commented on #509
@J3m5 That made it work. Thank you very much.

[code]

Btw, observed the following
1) setupInstance is being called twice on every create/ patch (attached screenshot)

![Screenshot from 2020-07-22 21-52-27](https://user-images.githubusercontent.com/13360356/88201870-acbc3480-cc65-11ea-87a9-6e4497e10ac5.png)

[2020-07-23 06:36] #509 closed

[2020-07-23 23:47] ericuldall commented on #494
Hey I think this is an issue for me. I do the following...
[code]

This let's me access the auth user in a simple way. However, this value does not seem to be reactive. If I was to do the following:

[code]

The save will work, but my user object won't be updated until I change routes or reload the page. Is this the intended behavior?

[2020-07-27 20:45] markwcollins commented on #411
This definitely helped me!

[2020-07-30 18:57] abrain opened #510 "clearError mutation needs to be used manually"
The Service Plugin documentation for [Mutations for Managing Errors](https://vuex.feathersjs.com/service-plugin.html#mutations-for-managing-errors) states:

While this is true for `setError`, it does not seem to be the case for `clearError`. I could not find any usage of this mutation in the code base and also an error remains set, even if the request could be made successfully the second time.

W

[2020-08-03 11:29] marshallswain commented on #510
For sure the documentation needs to be updated.

As for automatically calling `clearError`, it's a little bit more complicated since each service is shared.  An example is when you have multiple components on the page which all use the same service. Each component is independently querying and only one of them is likely to fail.  It's currently up to the developer to preserve that error message if

[2020-08-03 12:38] DaniGTA opened #512 "[Question] How to listen on custom events from a feathersjs server."
**I have a Service in feathersjs that sends custom events and i recieve them via the websocket, but i dont know how i can handle these events in feathers-vuex ?**

The custom event is binded to a service so the websocket event name looks like this:

`["service/a customevent", {data:""}]`
  --^^^^^^^^^^^^^^^
  --Websocket event name

[2020-08-05 17:36] abrain commented on #510
I agree, clearing this (per service) global error state automatically would not be a good idea.

As I'm using `FeathersVuexFormWrapper` and have to catch the Promise rejection of `.save()` anyway, I went with the following solution, which ties the error handling directly to the request:

[code]

[2020-08-11 04:06] juliolugo96 opened #515 "Testing feathers-vuex using Jest"
First of all, Feathers is a charm. This is the first real issue I'm facing since I started working with it. Me and my friends have a massive respect for you, mr. @daffl, greetings from ULA - Venezuela.

### Steps to reproduce

I'm trying to run Jest tests suite using `yarn run test` in a project that is using `feathers-vuex` using the code I left below.

### Expected behavior

Test suite runs corr

[2020-08-12 19:35] marshallswain commented on #512
You would do this the same way that feathers-vuex does this internally for the standard FeathersJS events.  Here's the place it is done internally: https://github.com/feathersjs-ecosystem/feathers-vuex/blob/master/src/service-module/make-service-plugin.ts#L139

[2020-08-12 19:36] marshallswain commented on #510
Thanks @abrain!  This will be a good example for the docs, so I'll leave this open until its added by one of us.

[2020-08-12 19:38] marshallswain commented on #515
Hmm.  I have very little experience with Jest since I use Mocha for everything.  I've tried to switch to Jest once a year since it came out, but I find myself much more productive with Mocha.  Anyway, as a result of this I won't be much help.  However, if you can comment with a link to a repo that demonstrates this exact problem, you're more likely to find one of the community members who might be

[2020-08-17 14:26] TeleMediaCC commented on #504
Same problem, please release the fixed version.
Thanx!

[2020-08-17 14:28] marshallswain commented on #504
@TeleMediaCC  thanks for the reminder

[2020-08-18 22:58] tasker204 opened #517 "Question: How can I create a Model-less Service?"
I have a service on the server that is not connected to my DB, it is simply used to send emails using the create method.
How can I create a service for this on my frontend?

[2020-08-19 19:12] barnacker opened #518 "Question: Recommendable way to track instance status "isPatchPending, etc...""
### Expected behavior
I load a list of ToDo in some card grid, I delete one and I show "Deleting..." on that specific card while I'm waiting for the store to be updated and this card to disappear.

I imagined it would be nice to bind a reactive kind of status like "MyTodoInstance.isRemovePending" or something like that, like having some isRemovePending or isPatchPending but on the specific model i

[2020-08-20 11:06] marshallswain commented on #517
The short answer is that you don't create a service without a model class.

There is an open issue for automatically creating a model class, which is certainly interesting, but I've been putting my time more into features that really make a big difference in the amount of boilerplates code one would typically need to write to accomplish more common tasks.  So this issue has naturally taken a back

[2020-08-20 11:07] #512 closed

[2020-08-20 15:59] tasker204 commented on #517
OK, fair enough.
Do you have any insight as to how I would go about creating a frontend service for my given scenario?
Adding a few lines of code is 100% acceptable and something I am very prepared to do. My issue is I'm not very confident that I know where to start.
What do I use for a model, how to I limit the service to only calls to the create method? Any help at all would be great.

[2020-08-20 16:55] marshallswain commented on #517
You would basically create it the same was as any service.  If I were in the same situation, I would just ignore the other methods and annotate the service as being limited to only one of the REST methods.  If you want to go a step further, you can setup a before hook on the client side that returns an `errors.NotImplemented()` from `@feathersjs/errors`.  If it's just to send emails you don't *rea

[2020-08-20 16:56] marshallswain commented on #517
I guess that may be what you're looking for, possibly.  You don't need to use the feathers-vuex wrapper if you don't need Vuex for the service.  If I would have gotten more sleep in the last few days, I'd have caught that earlier.  haha.

[2020-08-20 17:41] tasker204 commented on #517
Thats great.
I also feel that if I had gotten more sleep I would have been able to figure that out on my own.
I appreciate the time. Thanks!

[2020-08-20 17:41] #517 closed

[2020-08-20 21:29] coderinblack08 opened #519 "Integration with Typescript and Vue Composition API"
I am currently running into an error with typescript.
When I try to get $FeathersVuex from context.root as shown below
[code]
I'm getting an error `Property '$FeathersVuex' does not exist on type 'CombinedVueInstance<Vue, object, object, object, Record<never, any>>'`. Is there any default typings that FeathersVuex provides to silence this error?

The code runs but I'm getting the error and don't k

[2020-08-21 04:19] coderinblack08 commented on #519
I have found https://vuejs.org/v2/guide/typescript.html#Augmenting-Types-for-Use-with-Plugins but
[code]
in types/vue.d.ts doesn't seem to work... Any help?

[2020-08-21 04:22] coderinblack08 commented on #519
I've found the solution, https://vuejs.org/v2/guide/typescript.html#Augmenting-Types-for-Use-with-Plugins, thanks anyways!

[2020-08-28 12:47] marshallswain commented on #518
This is a great idea. I could use this everywhere in my apps.  I would prefer to find a way to store it that doesn't end up saving to the database. Putting the extra attributes on individual model records will make for a nice API, as you've demonstrated in your comment.

[2020-08-28 19:30] hamiltoes commented on #518
Just wanted to throw in my 2c cuz I've done this in an app I was working on.

It ended up working better for me to store the individual pending status in the Vuex store on a dictionary for each feathers method. The key to each dictionary being the tempId or id of each instance. Then in my extended base model, I just had a getter, (e.g. isPatchPending) that looked up its own id in that table. This

[2020-08-28 19:34] marshallswain commented on #518
Ah.  I'm grateful for your input @hamiltoes.  That's a really smart solution.  I hadn't thought about the clones.  If you still have access to that code it might give us a boost in getting it implemented.  If not, no worries.  I'm feeling like that's the way to built it.

[2020-08-29 08:18] jniclas opened #520 "Documentation Update: Usage of FeathersVuexFormWrapper and diffOnPatch only with eager option"
I use a Model with the FeathersVuexFormWrapper. For patches I also use the Model method diffOnPatch.
diffOnPatch takes the new data and fetches old data from the store to get the difference.
But if the FeathersVuexFormWrapper attribute "eager" is set to true, the clone is first commited and afterwards saved. So the store is updated, before the diffOnPatch is executed and the method can't figure ou

[2020-08-31 13:55] barnacker commented on #518
Yes we discussed using that approach internally, the main reason being that it shouldn't break much in the upcoming updates of this package. But just in case, before coding anything, I thought of posting it here since it could be included out of the box like you mentioned.  I was imagining it done automatically when registering the feather "ToDo" service in the store.

Like you just proposed, it w

[2020-09-02 18:55] #520 closed

[2020-09-02 18:55] marshallswain commented on #520
I've updated the docs.  Thank you!

[2020-09-02 18:56] marshallswain commented on #519
I've just merged [this PR](https://github.com/feathersjs-ecosystem/feathers-vuex/pull/487), which probably has some more resources to help with this issue.

[2020-09-02 19:01] marshallswain commented on #504
This should be fixed in the just-released `feathers-vuex@3.12.0`.  Please reopen this if you find an issue.

[2020-09-02 19:01] #504 closed

[2020-09-02 20:09] marshallswain commented on #482
@kshitizshankar thanks for the details in your last comment.  I was able to make the PR and have published it as `feathers-vuex@3.12.1`.  Please reopen this issue if you still find that there's a problem.

[2020-09-02 20:09] #482 closed

[2020-09-02 20:14] marshallswain commented on #460
I forget that there is a way to do this built into the feathers client.  Feathers-Vuex is built on top of the client and syncs up Vuex with the data received by the client, so you can just bypass feathers-vuex by doing this:

[code]

Since this option is available, I don't plan on adding a bypass for feathers-vuex.  The only downside I can think of is that the data is non-reactive, but there are s

[2020-09-02 20:14] #460 closed

[2020-09-02 20:15] #411 closed

[2020-09-02 20:17] marshallswain commented on #457
I'm going to close this one since it hasn't seen any activity for a while.  Please reopen if you are able to isolate and reproduce the issue.

[2020-09-02 20:17] #457 closed

[2020-09-02 20:21] TeleMediaCC commented on #504
I still get the WARN on installing:

`npm WARN feathers-vuex@3.12.0 requires a peer of @vue/composition-api@^0.6.1 but none is installed. You must install peer dependencies yourself.`

...and now get a new error when runing:
[code]

`"@vue/composition-api": "=1.0.0-beta.11"`

[2020-09-02 21:15] coderinblack08 commented on #519
Great, I'll be sure to check this out!

[2020-09-02 21:28] marshallswain commented on #519
Updates have been released in `feathers-vuex@3.12.1`

[2020-09-02 21:29] marshallswain commented on #519
I'm going to keep this open because I suspect that you'll still need to do this part:

[code]

[2020-09-02 21:42] hamiltoes commented on #519
Actually that augmentation is done for you from 3.12.0. Take a look at https://github.com/feathersjs-ecosystem/feathers-vuex/blob/master/src/vue-plugin/vue-plugin.ts#L16.

If you want more explicit typing (e.g. with *your* models), then follow along with the new docs at https://vuex.feathersjs.com/model-classes.html#basemodel-typing

[2020-09-02 21:42] marshallswain commented on #461
After thinking this through for a while, the best way to handle this would be to use the Vue APIs.  I'm going to show this in the composition API way, even though it still applies in the Vue 2 "options" API.

[code]

[2020-09-02 21:43] #461 closed

[2020-09-02 21:44] marshallswain commented on #519
Oh, very cool.  I still consider myself a TypeScript n00b, since Feathers-Vuex is literally the only place I've ever used it.  Thanks for being so comprehensive!  😄

[2020-09-02 21:47] #446 closed

[2020-09-02 22:41] marshallswain commented on #504
@TeleMediaCC I just updated one of my apps from `@vue/composition-api@0.6.7` to `@vue/composition-api@1.0.0-beta.11` and it's working in both cases.  Just to make sure, I'm testing pages that use the FeathersVuexPagination component.  I'm going to try another app, but if you can maybe share a repo that would be great.

[2020-09-03 01:58] hamiltoes commented on #518
Here's my lovely COVID quarantine project :-)

The business logic related to this issue is all in this file https://gitlab.com/hamiltoes/preserve/-/blob/master/src/feathers-client.ts (among a lot of other stuff!)

It doesn't do exactly what @barnacker is asking, but as @marshallswain said, maybe it will give a boost in getting this implemented in FeathersVuex itself.

The main difference is that i

[2020-09-03 16:56] marshallswain commented on #504
I have now successfully updated two applications and 16 separately-published packages all using `@vue/composition-api` and `feathers-vuex` and have had zero issues so far.  At this point a repo seems necessary to assist any further.

[2020-09-03 17:00] GaborTorma commented on #504
Did you use `"@vue/composition-api": "=1.0.0-beta.11"` and `"feathers-vuex": "=3.12.2"`?

[2020-09-03 17:02] marshallswain commented on #504
@GaborTorma Yes.  That exact combo on two apps and 16 packages.  I'm using a standard Vue CLI setup on both apps and Storybook in a monorepo for the other packages.

[2020-09-03 17:08] GaborTorma commented on #504
I don't understand it. Your release still contains it:

[code]

[2020-09-03 17:14] marshallswain commented on #504
@GaborTorma try installing `@vue/composition-api@12.2.3`, which I just published with this change:

![Screen Shot 2020-09-03 at 11 13 10 AM](https://user-images.githubusercontent.com/128857/92146176-8f3ac880-edd6-11ea-9486-e26ce9f2d961.jpg)

The warning about peerDeps should be fixed.

[2020-09-03 17:20] GaborTorma commented on #504
You still import createElement from @vue/composition-api, but later then version 1.0 it does not contains it. Is completly removed and renamed for h.

[code]

[2020-09-03 17:24] marshallswain commented on #504
![Screen Shot 2020-09-03 at 11 23 51 AM](https://user-images.githubusercontent.com/128857/92147174-f442ee00-edd7-11ea-9a5e-adecf975d6b2.jpg)

The code uses the `baseCreateElement`, which will pick up either one.

[2020-09-03 17:28] marshallswain commented on #504
Just to be clear, I'm still seeing the warning in the console.  The functionality will work as expected.  If you get too caught up on the warnings, you might not get any work published.  ;)

[2020-09-04 10:51] GaborTorma commented on #504
Thanx! I understand it.

I found a package for removing warn: https://github.com/markogresak/ignore-not-found-export-webpack-plugin

[code]

[2020-09-04 13:51] barnacker commented on #518
Wow that's very interesting, I will take some time aside to look into it because I'm fairly convince that this can help doing what I want! :)

[2020-09-04 13:53] barnacker commented on #518
Also: Great formatting and documentation of the code!! 👍

[2020-09-04 17:39] shabanovd opened #525 "Question: how to implement getOrDefault logic"
### Expected behavior
I need to edit related record to object that provided and can't figure out how to do it with existing methods.
Here an example of steps:
- collect parameters for record
- fetch record from database (if it's not exist yet create new object and set parameters)
- modify object and save it to database

My guess, it should be very close to `FeathersVuexGet` just missing part is `d

[2020-09-05 13:13] shabanovd opened #527 "Typo at FeathersVuexFind"
https://github.com/feathersjs-ecosystem/feathers-vuex/blob/master/src/FeathersVuexFind.ts#L81

It should be check for `params`, not for `query`.

[2020-09-05 18:01] J3m5 commented on #527
I'm not even sure that it should check if params or query is truthy because we should be able to call the getter without them and return all the items.

[2020-09-05 22:12] shabanovd commented on #527
@J3m5 good point

[2020-09-06 19:48] fratzinger commented on #527
@shabanovd is right. Good catch!
Before `feathers-vuex@3.12.0` `FeathersVuexFind` only worked with `:query="..."`. Now it also supports `:params="{}"`
This is a leftover from #521 .

@J3m5 I think the philosophy of `feathers-vuex` is to always provide at least an empty query to prevent accidentally complete requests. From time to time it annoys me but I think over all it's more helpful.

Should be

[2020-09-07 13:56] J3m5 commented on #527
Ok
 I don't know if it's already the case but it might be a good idea to specify this behavior in the docs because it deviate from the feathers client.
Personally, by using the same API I would expect the same behavior.

[2020-09-08 06:20] stewartsabuka commented on #433
Hello! I am trying to connect my FeathersVuex store to multiple clients and they all require authentication. however it is not clear to me how I could authenticate multiple feathers clients. is it possible to share how that client utility used to authenticate multiple clients would work? thanx

[2020-09-11 14:15] marshallswain commented on #525
Could you use server side hooks to create the default object on the server?

[2020-09-11 14:54] shabanovd commented on #525
@marshallswain no, because I need it for UI 1st and only when user decide to save it should be stored on server. Other words, I would like to have same logic to create new item or edit existing one.

[2020-09-11 14:56] shabanovd commented on #525
@marshallswain btw, I have implemented it locally by adding additional function-parameter. `onEmpty` for `find` and `onNothing` for get. I can create PR if you're interesting.

[2020-09-11 17:07] marshallswain commented on #525
Let me specify details of how this would work.

1. Perform the `.get` request from the client.
2. Create an after-get error hook on the server.  If the error says that the item doesn't exist, create the default object (do not persist it to the database) and return that as `context.result`.
3. The client receives a default object that has not been persisted to the database.

You can even do the sam

[2020-09-11 17:09] marshallswain commented on #525
Technically you could even override the BaseModel instance and do this at the Model class layer, if you'd like every `get` request to have this behavior.

[2020-09-11 20:30] J3m5 commented on #527
It appears that it has the same behavior than the makeFindMixin and the useFind hook.
It is consistent so it's not such a big deal.
I think that it should be left as is for now and ask what others think about it.
The only use case I see is if you want to explicitly not return the items but it can be achieved by passing $limit: 0.
Anyway, we'll see

[2020-09-17 07:23] alzab commented on #515
I had the same issue. I was able to fix it by adding an exclusion for `feathers-vuex` via `transformIgnorePatterns` in `jest.config.js` - see https://cli.vuejs.org/config/#transpiledependencies for details.

[code]
Of course in your specific case you would omit `vue-awesome` as you aren't using it. This might be worth mentioning in https://vuex.feathersjs.com/getting-started.html#project-configura

[2020-09-20 06:07] kshitizshankar opened #533 "[Question] Optimizing for bulk patch responses and update cycle on the front-end"
Hey - What is the recommended way of handling bulk updates on the client-side?

Right now, when I issue a bulk patch request (say adding a new tag to a lot of items) - The request gets executed properly but the update responses from the server make things extremely slow on the client.

So typically, I would issue a request which tells the API to add a tag on items with X,Y,Z ids. The API executes

[2020-09-24 02:37] korialis commented on #364
Hello, I think there is still some problem related to this issue.

My config:
[code]

The fix did solve the problem about ```pageInfo.ids``` but the ```scope.items``` array seems to be still empty when using the $in operator inside a query.

Am I doing something wrong or can you confirm the behaviour I am experiencing?

[2020-09-30 01:07] rayfoss commented on #441
Code sandbox has been changing... for the better definitely. Updated a couple packages and that fixed it.

/close

[2020-09-30 01:08] marshallswain commented on #441
Thanks @rayfoss

[2020-09-30 01:08] #441 closed

[2020-10-01 14:25] #525 closed

[2020-10-01 21:13] monks1975 opened #535 "FeathersVuexFormWrapper and catching errors"
Is there a way that I can catch errors at the component level with FeathersVuexFormWrapper- to notify the user e.g through a toast that the save was unsuccessful. An example would be server side validation; a joi schema error on the server? I have seen examples where a then() is chained to the save method after success, but have found that chaining a catch in the template doesn't work for me.

[2020-10-02 07:15] kshitizshankar commented on #397
@marshallswain @J3m5 Not sure if this was resolved or not - I have the exact same issue.  Trying to set up the feathers-graph-populate. The reactivity is maintained when there is a direct mapping

`data.user = new User(data.user)`
Any changes to the user record are reactive.

The reactivity stops when an array of populated data is being mapped.
`data.tags = data.tags.map(r=> new Tag(r))`

Not real

[2020-10-02 09:36] kshitizshankar commented on #397
OK - It happens because of this code which basically stops that ` Do not allow sharing of deeply-nested objects between instances`
[code]
https://github.com/feathersjs-ecosystem/feathers-vuex/blob/7b4de7dbdc52919a29c528785aab60d73f0c4e6d/src/utils.ts#L499

[2020-10-02 11:40] kshitizshankar commented on #397
Adding a check to ignore an array of Model Instances seems to fix the issue and everything starts working as expected. The check skips the fastCopy when the array contains any item which is a Model Instance on the first level.

[code]

[2020-10-02 12:03] J3m5 commented on #397
What I did previously is, adding a getter on the Model that return the related items with the findGetter.
It works nicely and what you have to do is instantiate the items with their Model and then add a getter that call the findGetter with the item ids.

[2020-10-02 12:43] kshitizshankar commented on #397
@J3m5 Could you please share an example?

Not sure what you mean by adding a getter on the Model.
Do you mean a vuex getter on the service's store?

The setup instance populates the data in the right Model. After that, if I try to do a find query directly in the setup instance (since we can be sure data exists in the store now) - It still is not reactive.

Another option I explored was to create a

[2020-10-02 22:28] fratzinger commented on #533
I faced the same issue. I think the problem is that bulkOperations end up with the mutations `addItem`, `updateItem`, `removeItem` asynchronously which leads to many GUI updates. But I'm not quite sure. Am I right?
I think an approach that can help is to `debounce` or `throttle` incoming events. But I guess [custom event handling](https://feathers-vuex.netlify.app/service-plugin.html#custom-event-

[2020-10-04 03:10] kshitizshankar commented on #533
Yes, exactly - Think this question on Vue Forums touches the topic as well https://forum.vuejs.org/t/over-reacting-to-multiple-vuex-mutations/9285

From what I understand- every incoming message from the server gets processed and triggers the whole update cycle across the app.

For example, In my feathers-mongoose setup - Let's say you have a list of 1000 items that you want to set as "archived" -

[2020-10-04 07:30] fratzinger commented on #533
The quickest and dirtyest solution should be to skip the event on the server side: https://docs.feathersjs.com/api/hooks.html#context-status code
Add an before-patch hook wich sets 'context.events' to null if 'id' is null.

Maybe that's an option for you

[2020-10-04 09:20] J3m5 commented on #533
We still need the changes to be reflected on the clients.
The solution IMO would be to handle multiple items in one event because currently, 1 event = 1 item.
But it would not that simple as it would need to change how channels and events works.

[2020-10-05 14:15] marshallswain commented on #533
The new feathers-batch coming out later today (technically already released on npm) is guiding how I'm going to focus on supporting bulk records going forward.  Its client plugin uses an internal timeout to gather requests from anywhere in the app and automatically combine them into a batch.  I would like to implement a similar system for processing batches of received events.

[2020-10-05 14:28] marshallswain commented on #533
So, a little more specific.  What I would like to do is update the [`handleEvent` method](https://github.com/feathersjs-ecosystem/feathers-vuex/blob/61ddaadbea498e58aa1347ad8c41ca99683f5a20/src/service-module/make-service-plugin.ts#L123) to gather requests into a queue for each service method.

[code]

Then we can flush the queue on a default timeout of `0` or something really small.  We can then

[2020-10-05 14:35] marshallswain commented on #535
If you look at the `save` method in the code, you'll see that the promise is being returned, here: https://github.com/feathersjs-ecosystem/feathers-vuex/blob/master/src/FeathersVuexFormWrapper.ts#L65

You can tack a `.catch` onto that in your code and pass it an error handler from your component's scope.

[2020-10-05 14:38] marshallswain commented on #515
Thanks, @alzab.  This definitely needs to go into the docs

[2020-10-05 14:44] marshallswain commented on #518
This is now available in `feathers-vuex@3.13.0`.  Thanks, everybody!

[2020-10-05 14:44] #518 closed

[2020-10-05 16:57] kshitizshankar commented on #397
Looked at the test cases as well - They only cover reactivity for direct mapping of relational data https://github.com/feathersjs-ecosystem/feathers-vuex/blob/c75b3e457851f434697676a3000b1a0c870d7773/test/service-module/model-relationships.test.ts#L362

For arrays of relational data, it only covers if the data gets added to the store (no test for reactivity)
https://github.com/feathersjs-ecosystem

[2020-10-05 17:57] kshitizshankar commented on #397
@J3m5 Is this what you meant by the getter on the model?

[code]

This way, `record.tags` can be accessed as a property and returns the reactive records. This also hooks nicely to instances where I was querying using the nested property
[code]

This works but I am not sure if I might be missing something because it says not to perform queries in getters (and I can see that this could potentially l

[2020-10-05 17:58] fratzinger commented on #533
You mean like so? #537
It's not quite finished yet. I want to find a better place for the `debounceMap` and add more tests.
Just to let you know I'm working on it.

@marshallswain Let me know what you think of it. If you want to make this on your own and differently, let me know! You're welome to close the PR then.

[2020-10-05 18:02] barnacker commented on #518
Wow! Thanks!

[2020-10-05 18:47] J3m5 commented on #397
@kshitizshankar
This is exactly what I mean !
In the example, it introduce a side effect by fetching the item.
The fetching replace the item in the store that trigger the getter and fetch the item again...

[2020-10-05 19:03] kshitizshankar commented on #397
Ohhh.. think I finally understand that example now! I remember trying to do something like that a long time back and there were infinite loops (probably in v1.7 or earlier).

Anyways, this getters approach helps me resolve so many things and not pollute with random service level getters. Thanks a ton! :)

[2020-10-05 20:20] kshitizshankar commented on #397
Created a utility that gets called from setupInstance to push the server populated data to the relevant service store and creates the getter required to maintain nested reactivity. It works nicely with https://github.com/marshallswain/feathers-graph-populate/ and https://github.com/marshallswain/feathers-graph-populate/issues/15

[code]

P.S. Would save a lot of time for someone if we can mention

[2020-10-05 20:51] marshallswain commented on #397
@kshitizshankar that looks great!  I was just thinking two days ago that it was time to make a utility like this.  Care to make a PR to feathers-vuex?  This will assist a lot of people in handling populated data, better. If you don't want to make the PR, I can do it tomorrow.  Could you share the `sortObjectArrayByIdsArray` implementation?

If you do choose to make the PR, I think this deserves it

[2020-10-05 22:07] kshitizshankar commented on #397
@marshallswain Please go ahead with it if you can.

I still don't know how to make a PR properly... I will definitely get it sorted and hopefully do PRs from next time onwards. Thanks!

Here is the implementation for the `sortObjectArrayByIdsArray`
[code]

I haven't written any test cases for this, but if it helps - I tried out a few scenarios while I was writing it (Will probably convert to tests

[2020-10-06 08:13] J3m5 commented on #397
I did somethin similar last year.
[code]

And I define relttionships in he Model like that:
[code]

[2020-10-06 08:16] J3m5 commented on #397
I did another module in order to fetch the items on the client but it's full of ramda functions, I'd need to refactor it.

[2020-10-06 08:19] J3m5 commented on #397
The advantage of doing the joins on the client is that you don't fetch related items two times, you collect the ids, keep the unique ones and then fetch them.
It keeps your backend logic simple the hooks with authentication and permissions are processed normally.
Ans when the store is populated with the joined items, the getters return them automatically because of the reactivity.

[2020-10-06 08:20] J3m5 commented on #397
If we would be able to fetch he schemas ( as JSON schemas for example), all that could be done automatically.

[2020-10-07 08:47] monks1975 commented on #535
I have been able to catch errors using this pattern:

[code]

If I put a then() in between save and catch however it will go to the then() even on errors.

[2020-10-08 14:19] J3m5 commented on #397
[Jsonapi-vuex](https://github.com/mrichar1/jsonapi-vuex#relationships) does the getter trick for relationships with JSONAPI automatically.

[2020-10-10 14:37] kaizenseed opened #538 "Vue-3 Support plans"
Hello and thanks for the great package!!

This isn't really an issue. I just wanted to know what the plans & timelines are for supporting Vue 3. Also any pointers towards using feathers-vuex along with Vue 3 would be great : I'm just integrating feeathersvuex into an existing vue-3 project and getting errors like
`export 'createElement' (imported as 'baseCreateElement') was not found in '@vue/comp

[2020-10-12 06:55] njbarrett commented on #480
Hi all,
I have expanded upon @tylermmorton 's workaround function a little with the following:
1) Handles already hydrated objects
2) Errors if an invalid modelName is passed. (Assumes always passing a string modelName)
[code]

[2020-10-15 19:22] PhipsSti opened #540 "Best practice for relation tables"
Hey guys, I am using using feathers-vuex for one of my projects and I am loving it so far. But at the moment I am having a bit of a struggle.

I have a table with things, a table with parts and a relating table between those two tables with an attribute amount.
The user should have an interface to edit products incl. the assignment of parts. The clone and commit pattern works perfect for the editi

[2020-10-17 09:07] laurensiusadi commented on #540
Hi!

You'll have better luck by asking questions on the slack channel https://feathersjs.slack.com/ instead of a Github issue. I ask all sort of questions there.

[2020-10-17 10:53] PhipsSti commented on #540
Thanks for the hint @laurensiusadi! Will also try it there.

[2020-10-19 07:15] fasterv410 opened #541 "FeathersVuexCount not found in feathers-vuex"
I can't import FeathersVuexCount component in the feathers-vuex

feathers-vuex: 3.13.0

![Screen Shot 2563-10-19 at 14 14 00](https://user-images.githubusercontent.com/19948344/96413106-584d3480-1215-11eb-9298-37f7a9df1d73.png)

[2020-10-23 15:19] Thomas-git opened #542 "Cloned item is empty"
### Steps to reproduce
I use FeathersVuexFind to query database.
Everything is fine.
[code]
Problem arise in ```removeLanguage(lang)```
When I do

```const clone = lang.clone()```

```clone``` is empty

I also tried to get a fresh copy from the store with `const clone = Languages.getFromStore(lang.language_code).clone()`. But got the same empty clone.

The Languages model ```idField``` is set to `

[2020-10-23 21:32] marshallswain commented on #542
This is likely related to the custom idField.  Can you set a break point in the clone mutation and get a better idea of what's going on?

[2020-10-23 23:41] marshallswain commented on #541
Looks like it just needs to be imported in `index.ts` and made available in the exports in the same way as is done here: https://github.com/feathersjs-ecosystem/feathers-vuex/blob/master/src/index.ts#L7

Thank you for catching this!

[2020-10-23 23:47] marshallswain commented on #540
@PhipsSti when you run `new Part(data)` what you get back is called a temporary record.  This means that it is stored on the client, but not yet on the server.  In order to show temporary records, you have to pass a `temps: true` into the params when performing a `Model.findInStore()`.  So you probably need to do two things to accomplish your objective:

1. Create a computed property that returns

[2020-10-24 05:47] Thomas-git commented on #542
Ok, After first line in .clone()
`const { idField, tempIdField } = this.constructor`
idField === 'id'
so it does not start good.
and on `const id = ... ` id is undefined.

Where should the `idField` be extracted in the first place ?

[2020-10-24 05:52] marshallswain commented on #542
The `idField` gets placed on the Model class when passed in the options: https://github.com/feathersjs-ecosystem/feathers-vuex/blob/master/src/service-module/make-base-model.ts#L77.

You might need to verify that none of your service/model files has a duplicate service name or duplicate `modelName` attribute set.  What does your `Language` class look like?

[2020-10-24 06:33] Thomas-git commented on #542
So, there is no duplicate service name nor `modelName`
If I add a `static idField = 'language_code'` in `Languages` model class, it works as expected. But if I understand the docs well, `idField` should be set in the service options when using `makeServicePlugin`. Again in the [docs](https://vuex.feathersjs.com/service-plugin.html#configuration), I understand that `modelName` is also an option of

[2020-10-25 08:46] GaborTorma opened #543 "id conversion before passing it into keyedById"
### Steps to reproduce

When use use object for id (like ObjectId), keyedById didn't found the key, because the id is string in store.

### Expected behavior
Convert the id to String before passing it into keyedById[id].
For examples in utils.js getItemsFromQueryInfo and createRelatedInstance

The solution: keyedById[String(id)]

[2020-10-26 22:54] Peras795 opened #545 "[vuex] do not mutate vuex store state outside mutation handlers"
### Steps to reproduce
store/service/units.js
[code]
View
[code]
### Expected behavior
The state should change i guess.

### Actual behavior
[vuex] do not mutate vuex store state outside mutation handlers

**Module versions** (especially the part that's not working):
{
    "@feathersjs/authentication-client": "^4.5.9",
    "@feathersjs/feathers": "^4.5.9",
    "@feathersjs/rest-client": "^4.5.9",

[2020-10-27 11:47] fratzinger commented on #545
Hey :)
I cannot see how this is related to `FeathersVuex`. Could you provide more information? How do you define your vuex module `x`? Where is your mutation `setName` defined?

[2020-10-27 21:53] #541 closed

[2020-10-29 18:13] #527 closed

[2020-10-29 18:19] #533 closed

[2020-10-29 18:58] #543 closed

[2020-10-29 18:59] marshallswain commented on #543
This is fixed in the `master` branch, currently.  I'll do a release as soon as we get https://github.com/feathersjs-ecosystem/feathers-vuex/pull/536 merged.  This is a nice addition.  Thanks for opening the issue!

[2020-10-29 19:02] marshallswain commented on #545
Hi, @Peras795, feel free to reopen if you have some more information for us.  If you can provide additional information, we'll be able to see if there's a problem with feathers-vuex.

[2020-10-29 19:04] marshallswain commented on #542
Hmm... This appears to be a bug.  Since we have a workaround I won't focus on fixing this for a little while.  I'll leave this open to make sure we get to it.  Thanks for reporting!

[2020-10-29 19:05] marshallswain commented on #540
Feel free to reopen if you have more you'd like to say.  Thanks, @laurensiusadi and @PhipsSti!

[2020-10-29 19:05] #540 closed

[2020-10-29 19:09] marshallswain commented on #538
@kaizenseed I rewrote feathers-vuex with all tests passing for Vue 3, then we started getting some amazing contributions from the community for the current (Vue 2) version.  The changes have been so substantial and important that I've scrapped the original rewrite.

It seems the pull requests are coming to a calm, now, so I may look at doing a rewrite again, soon.

[2020-10-29 19:10] marshallswain commented on #535
Thanks for reporting back, @monks1975!

[2020-10-29 19:10] #535 closed

[2020-10-29 19:12] marshallswain commented on #475
I'm not sure when this changed, but the tests are for sure running with `yarn test`, now.

[2020-10-29 19:12] #475 closed

[2020-10-30 06:48] kaizenseed commented on #538
Thanks for the update @marshallswain :+1: Looking forward to all the goodness!

[2020-10-30 07:06] marshallswain commented on #538
I've been thinking about this a bit more, today. Ideally we don't end up with two separate codebases, one for each version of Vue. My original rewrite was a bit naive in this respect, so I'm giving it another start.

There are a few main concerns to consider
- The reactivity API is different under the hood.
- The plug-in registration process is different
- The composition API

I've looked into Vue

[2020-10-30 08:12] kaizenseed commented on #538
Yeah I had thought to suggest vue-demi too :+1: I saw a few other projects are using it to support both simultaneously too!

[2020-10-31 06:38] marshallswain commented on #545
It must be something else causing this.  I don't see you setting state anywhere other than the mutations.

[2020-10-31 09:43] Peras795 commented on #545
Fixed it using one way binding + Object.assign in the mutation.
I happened because I was changing a nested property in a v-model maybe?

[2020-11-01 07:55] marshallswain commented on #545
Thanks for the update

[2020-11-01 07:56] #545 closed

[2020-11-03 11:52] anbraten opened #547 "Pagination data not reactive"
### Steps to reproduce

I am using a composition to watch the total number of notifications from pagination-data:

[code]

### Expected behavior
The `paginationData` from `useFind` should change each time data of that service / query got changed.

### Actual behavior
It only updates the first time data is fetched.

### System configuration

[code]

[2020-11-04 18:21] corepay opened #548 "serverAlias example"
Hello @marshallswain

I've been using feathers-vuex for a bit now as central to 4 different apps currently in production all tied to one feathers server, so everything checks out ok and works fine according to your well documented instructions.

Now I am going to break my feathers server into 3 or 4 servers -> all using the same db but each with a different context.  Each of my apps will need to b

[2020-11-07 20:56] sebastien-prudhomme opened #549 "Small error in setupInstance() documentation?"
I think there is this small error in setupInstance() documentation in ```docs/model-classes.md```:

[code]

should be replaces by:

[code]

Can someone confirm?

[2020-11-07 21:01] hamiltoes commented on #549
It depends whether or not you've set up a `serverAlias` and if so what you've named that alias.

If you have set up a `serverAlias` of `api` then you will need to access the `Post` constructor at `models.api.Post` as you've indicated.

[2020-11-07 22:29] sebastien-prudhomme commented on #549
The default value for serverAlias is ```api``` and all other code examples use ```models.api```.

I can read in the doc that ```Models are keyed by serverAlias```, this is not a mandatory field in the options?

[2020-11-09 15:33] fratzinger commented on #549
I think @sebastien-prudhomme is right on this one. I think it's a leftover.
Could you do a pull request? Highly appreciated :)

[2020-11-09 20:50] marshallswain commented on #549
Yep, those docs are outdated.  A PR would be appreciated.

[2020-11-12 21:29] freshlylaundered opened #551 "FeathersVuexFind return empty items array"
### Steps to reproduce

The FeathersVuexFind component seems to always return an empty items array.

[code]

When I use `useFind` with the exact same parameters I get the expected return value and a populated items array.

[code]

Also, FeathersVuexGet and FeathersVuexCount work fine, making me believe this is a Find specific problem.

[code]

### Expected behavior

FeathersVuexFind component shou

[2020-11-24 18:00] marshallswain commented on #548
@corepay could you come talk to me in Slack?

[2020-11-28 18:12] fratzinger commented on #397
I've something pretty similar to your two approaches @kshitizshankar, @J3m5. I have this for a year now, it's still improving and it's quite slow for arrays tho. But it's completely reactive. Similar to @J3m5 I have an schema per Model. This schema I use for `instanceDefaults` as well as `setupInstance`. Prepare for some pseudocode! It looks something like this:

[code]
Coming from a `sequelize` w

[2020-12-02 21:20] tasker204 commented on #538
Just curious if there is a timeline set for this?

[2020-12-03 16:55] Thomas-git opened #553 "Auth user is not updating on a find"
### Steps to reproduce

First use the Auth plugin to authenticate to a feathers server.
Let the server only return basic user data: Let's say the server respond with `id` and `displayname` fields only.
Setup your User model so that instanceDefault add a `email` property with default value `null`
Later in the app, if you need all user data, using `User.get(AUTH_USER_ID)` it will populate auth user

[2020-12-03 23:57] marshallswain opened #554 "Support temp records as part of #536"
related to https://github.com/feathersjs-ecosystem/feathers-vuex/pull/536

comments starting here: https://github.com/feathersjs-ecosystem/feathers-vuex/pull/536#issuecomment-719539135

[2020-12-04 00:02] marshallswain commented on #549
Closed in #550

[2020-12-04 00:02] #549 closed

[2020-12-04 00:03] marshallswain commented on #538
@tasker204, I've started work, today, to convert this project to use vue-demi with no other changes.  Let's cross our fingers that it just works!

[2020-12-04 00:07] marshallswain commented on #553
@Thomas-git could you please verify that you are using the `user` getter and not the one from the auth state?

![Screen Shot 2020-12-03 at 5 06 32 PM](https://user-images.githubusercontent.com/128857/101105122-01fc4100-358a-11eb-9ae4-d5d598e7c2e8.jpg)

[2020-12-04 00:30] marshallswain opened #555 "Vue 3 Support"
This issue is for tracking progress towards Vue 3.

- [x] Switch to use vue-demi and make sure all tests pass.
- [ ] Check components for breaking changes for Vue 3 (v-model, attr.sync, [full list](https://v3.vuejs.org/guide/migration/introduction.html#breaking-changes))
  - [ ] FeathersVuexCount
  - [ ] FeathersVuexFind
  - [ ] FeathersVuexFormWrapper
  - [ ] FeathersVuexGet
  - [ ] FeathersVuexI

[2020-12-04 10:11] Thomas-git commented on #553
Here is how I get the Users model:
[code]
I'm not using the Auth service outside of login/logout needs.
In the case we're talking about, the Administrator list all Users, including himself. And 'himself' is not updated with more details. Note that I do not checked if the user from Auth service if uptodate.

[2020-12-04 15:57] Thomas-git opened #556 "Can save null value"
### Steps to reproduce
Ok, I've got an object in store with `instanceDefaults` returning a null value:
[code]
Server side, in the database, forceview can be null. And so user is allowed to set forceview to `true`, `false` or null.
It works when `forceview` is a boolean. But when I save an object with `forceview === null` I've got a feathers-vuex.

### Expected behavior
Should be able to save a nul

[2020-12-04 19:03] marshallswain commented on #555
Due to the changes in the component syntax, this will definitely be a breaking change.  However, we will break as little as possible in this release.

[2020-12-05 01:21] marshallswain commented on #556
What is this `recurseDelete` method that's involved in the error?  I don't think this problem lies in feathers-vuex because I'm able to save `null` values on all of my projects.

[2020-12-05 01:22] marshallswain commented on #538
Closing in favor of #555

[2020-12-05 01:22] #538 closed

[2020-12-05 07:33] Thomas-git commented on #556
Good catch !
This is a hook I reuse in many project to recursively delete '__id' and '__isTemp' on models before sending to server. Recursively because when populating relations with live models (as in [doc](https://vuex.feathersjs.com/common-patterns.html#relationships-for-populated-data)), those nasty '__id' and '__isTemp' properties are everywhere. By the way it may be a nice addition to docs t

[2020-12-05 07:33] #556 closed

[2020-12-05 15:41] marshallswain commented on #556
Thanks for the update. The solution to those attributes is already provided as part of the installation docs.

[2020-12-06 23:00] marshallswain commented on #547
I completely agree with this, and this was the intention.  Pagination data should update any time a change to this particular query is sent and a response received from the API server.  In the example you've posted, above, the `paginationData` should change only after you change the `calendarId`, which would cause the query to execute against the server, again.  Is that what you are saying is not

[2020-12-06 23:11] marshallswain commented on #553
Ok, good.  Because the value in the auth state won't ever update unless you re-authenticate.

The steps that you mention are exactly how it should work.

- Setup your User model so that instanceDefault add a email property with default value null. Return any subset of data in initial requests, as the defaults will/should serve as placeholders.
- Later in the app, if you need all user data, using U

[2020-12-06 23:12] marshallswain commented on #548
As part of the changes for getting things to work with Vue 3, I'll be adding an example that shows how to work with multiple servers.

[2020-12-06 23:59] jd1378 opened #557 "Add the limit returned by service to edit-scope's queryInfo ?"
currently we can get `total` from using `edit-scope` prop of `FeathersVuexFind` component, but we can't get the `limit` sent back by the server as easily. I know it's not that important , because usually limit is somewhat hard coded on both sides, but I find it a bit useful for testing some pagination components quickly.
It would be nice to have it.

[2020-12-07 16:55] Thomas-git commented on #553
Ok, I'll do that as soon as possible and report to you.

[2020-12-08 16:11] jd1378 commented on #557
After reading the vuex code and doing some logging I found that this is already available, but not in `queryInfo`, inside `pageInfo.pageParams.$limit`.

[2020-12-08 16:11] #557 closed

[2020-12-08 16:50] jd1378 opened #558 "adding debounce to watch prop of renderless data components"
I'm creating a pull request soon for this, just wanted to inform you and also ask if should I go for `debounce` instead of `debounceWatch` name for the new prop ? I'm going for debounce myself because I think the component doesn't fetch again without watch prop, right ?
new prop is going to accept number in milliseconds and use lodash's debounce
It's pretty much straightforward. but also I didn't

[2020-12-08 16:57] jd1378 commented on #558
actually, I go for `debounceWatch` , since it may confuse the behaviour of normal usage without the `watch` property

[2020-12-09 17:26] anbraten commented on #547
I was hoping that after for example the `created` event is received the pagination would update by increasing the total by one if it matches the query.

[2020-12-09 20:00] J3m5 commented on #547
I agree that it would be a nice addition, but maybe more as a ref return from the usefind.
Now, you can still query the count manually in the store with `$limit: 0` or use the [countInStore](https://vuex.feathersjs.com/model-classes.html#countinstore-params) method.

[2020-12-15 20:21] dajpes opened #563 "computed value from mapGetters is empty"
### Steps to reproduce
Hello everybody

In vue 2 ,when I do page refresh to a paginated page (like doing F5 or manually typing the url), the computed property is empty when in reality it should be populated from the api. This issue doesn't happen when I dynamically go to a paginated url.

For example if my website I go to "todo.com/todos" from "todo.com", there are not any problem with the mapGett

[2020-12-21 15:47] superVoja opened #564 "NotAuthenticated"
I am trying to make a Login component with Vue but I keep getting

{type: "FeathersError", name: "NotAuthenticated", message: "Invalid login", code: 401, className: "not-authenticated", …}

My Signup component is working and I see my user in my database, I'm using mongo, but when I try to login I get a 401.

Here is the error message in the browser:

http://prntscr.com/w77v9r

Here is the reposito

[2020-12-21 19:19] marshallswain commented on #564
Hi, @superVoja.  This error usually happens when you haven't called the `authenticate` method before you make any API requests.  I usually handle this in one of two ways:

1. Use a "Gateway Component" or view, which has some type of `v-if` logic that only renders components that fetch private data when the user/app has authenticated.
2. Use a client-side hook that checks if the feathers client is

[2020-12-22 11:46] superVoja commented on #564
Hi, thank you for the answer, could you point me to some code or docs on how to set up this. Thank you

[2020-12-22 12:00] superVoja commented on #564
Seems that I missed a very important thing,

Important: If you want to set the value of usernameField to username in your configuration file under Windows, the value has to be escaped as \\username (otherwise the username environment variable will be used).

when I changed this to in the default.json it works.

Thank you for your time 👍

[2020-12-22 12:00] #564 closed

[2020-12-24 14:36] DaniGTA opened #565 "[BUG] Cant update model with id 0"
### Steps to reproduce

Have a database with ids like 0, 1, 2, 3, 4... and so on
create a model with id 0 and try to update it

### Expected behavior
Should call `_dispatch.call(this.constructor, 'update', [id, this, params])`

### Actual behavior
Calls:
[code]

### Caused by:

make-base-model.js

[code]

when id is 0 it cant update. It must check if it is undefined or null.

[2021-01-08 02:20] netwrkx opened #568 "websocket failed while connecting to feathersjs"
everytime i connect my nuxt app with feathersjs. all i got is the following error
`WebSocket connection to 'ws://localhost:3030/socket.io/?EIO=3&transport=websocket' failed: Error during WebSocket handshake: Unexpected response code: 400
`
no special configuration was done, i just followed the full-nuxt-example on [vuex.feathersjs.com](https://vuex.feathersjs.com/common-patterns.html#full-nuxt-exa

[2021-01-08 07:58] J3m5 commented on #568
Make sure to update socket.io packages to their latest version.
A breaking has been reverted in there latest version.

[2021-01-08 10:15] netwrkx commented on #568
Thanks

[2021-01-08 10:15] #568 closed

[2021-01-08 20:45] corepay opened #569 "Feathers v4 Socket rollback"
@marshallswain you're probably aware of https://github.com/feathersjs/feathers/issues/2128.

This affects fresh builds - the app will not launch

![image](https://user-images.githubusercontent.com/48992923/104065734-a8b1ae00-51d6-11eb-9eff-334bfe9ff029.png)

[2021-01-08 21:26] corepay commented on #568
Hi @J3m5 - can you clarify?  The feathers break was using socket @3.01 - @daffl said we need to rollback/pin feathers to @2.4.1 and when I launch a fresh feathers-vuex project it will not launch with error requiring a rollback.

![image](https://user-images.githubusercontent.com/48992923/104065698-946db100-51d6-11eb-8f1f-0310d253c484.png)

[2021-01-08 21:28] J3m5 commented on #568
Sorry, it is the latest version of the compatible version, the 2.4.1 package.

[2021-01-08 21:28] corepay commented on #569
PS I am having problems with client getting events from server - - - Network shows nothing -  is this related ya think?

[2021-01-08 21:36] corepay commented on #568
Right - got it and to further clarify the socket.io-client version in feather-vuex needs to be downgraded to 2.40 (latest 2.x release).  Instructions for a new/clean install of feathers-vuex installs socket.io-client@3.05 which is no longer compatible with feathers server.

[2021-01-09 04:04] marshallswain commented on #569
Lack of events is likely just a server config issue, if you're in the supported version of socketio

[2021-01-09 09:28] J3m5 commented on #569
Make sure you use the 2.4.1 version.

[2021-01-09 13:55] corepay commented on #569
Ah - after kicking my stuffed Mr. Peabody several times and shouting "why, why, why me?" at the clouds I discovered again how inadequate I am as an engineer after discovering that I need to have a logged in client or register the event in anonymous channel.

I'll go ahead and close issue hoping there are enough keywords here for dummies like me running into similar problems

[2021-01-09 13:55] #569 closed

[2021-01-12 20:15] tasker204 commented on #555
Super excited for this. Any idea on timeline for completion?

[2021-01-17 09:21] thomasvds commented on #488
It's been quite some time and now I bumped into this issue again on another project. Strangely enough @hamiltoes the solution you're suggesting works fine when using `{ commit: false }` (otherwise it's not possible to actually save new instances).

[2021-01-18 11:42] Thomas-git commented on #553
@marshallswain Ok, I finally took time to investigate this. And it's happening on other Models...

So, in `updateItems` func:

* On Find :

never called and request not issued to server !

* On Get:

`state.ids` includes `id`
`replaceItems` is false
and `updateOriginal` gets called

where to look at next ? what can prevent Model.find call to be issued ?

[2021-02-04 06:16] Thomas-git commented on #553
I finally found the Bug. And it's not related to feathers-vuex. I post here the solution because it may affect others.
Sometimes my backend server was sending "id" as `Number` and sometimes as `String`.
It turns out that's because I use knex with postgresql. And Int8 field, Count and other functions return an int8 : 2^64 max value. As JS max int is 2^53, knex return thoses numbers as `String` to a

[2021-02-04 06:16] #553 closed

[2021-02-06 14:25] marshallswain commented on #553
Oh wow that’s going to be a great resource for somebody in the future, for sure. Thanks for sharing the solution.

[2021-02-09 11:51] fratzinger opened #573 "RFC: Capability to subscribe events (just receive needed events, not all)"
Just tinkering/thinking out loud. Nothing really crucial. It's open for discussion. Maybe it came up in the feathers-world somewhere (which I don't know of). I could imagine it's not a real world problem at all and would be quite over engineered. But I think it's worth to think about.

@J3m5 made a point (see quote below). It's about a mechanism that allows to subscribe for necessary channel-updat

[2021-02-12 09:59] romain-aragon opened #574 "FeathersVuexPagination.js: export 'createElement' was not found in '@vue/composition-api"
### Steps to reproduce

Same as fixed : https://github.com/feathersjs-ecosystem/feathers-vuex/pull/505

Fresh Vue 2.0 project with typescript and

 "@feathersjs/feathers": "^4.5.11",
"@vue/composition-api": "^1.0.0-rc.1",

I have tested without warning using
"@vue/composition-api": "^1.0.0-beta.1",

I test also some other beta (2, 10, 26) of composition-api and I have the same warning as 1.0.0-rc-

[2021-02-12 10:15] J3m5 commented on #574
You can safely ignore the warnings, [for context](https://github.com/feathersjs-ecosystem/feathers-vuex/issues/504#issuecomment-686640250)

[2021-02-12 11:21] romain-aragon commented on #574
Thanks @J3m5
I add :   https://github.com/markogresak/ignore-not-found-export-webpack-plugin
I try to add :
const IgnoreNotFoundExportPlugin = require('ignore-not-found-export-plugin')

module.exports = {
    plugins: [new IgnoreNotFoundExportPlugin({ include: /FeathersVuexPagination/ })],
    // ...
  };
in webpack.config.js but I still have the warning
Do you know the file where those lines shou

[2021-02-18 15:57] marshallswain commented on #573
This may be an applicable article: https://blog.feathersjs.com/feathersjs-channel-subscriptions-647c771ca6c8.  I believe this is a server-centric solution.

[2021-02-18 16:02] marshallswain commented on #574
This message will only go away when either (1) we drop support for the old Composition API plugin (before the breaking changes) or (2) When we finalize the release for Vue 3.

[2021-02-18 16:02] marshallswain commented on #574
I'm going to mark it as a bug, now, because I'm ready for the issue to disappear.  :)

[2021-02-19 22:58] briancbarrow commented on #555
@marshallswain thanks for taking this on! I'm super excited for it!

[2021-02-19 23:52] marshallswain commented on #555
Hey, @briancbarrow and @tasker204, I'm glad you're excited.  I'm testing it out on my production apps, right now.  I'm running into some issues with SSG and hydration, and I don't think feathers-vuex is the problem, but I need to confirm and figure out solutions before I can publish.  Plus with the Nuxt 3 announcement next week, I'd like to make sure it works with that, too, and not have to do ano

[2021-02-19 23:58] briancbarrow commented on #555
@marshallswain awesome! I'll see if I can give it a try this weekend.

[2021-02-21 21:24] znerol commented on #574
This issue also breaks builds with `esbuild` and thus `vite`.

[2021-02-22 04:02] marshallswain commented on #574
@znerol It's not breaking my vite builds.  Are you installing the pre-release into your Vite app?

[2021-02-22 07:50] znerol commented on #574
@marshallswain nope, that was just a quick smoke-test on some random code base to see what is working and what is breaking when switching from parcel to vite.

[2021-02-25 02:18] barnacker opened #575 "Store.dispatch('auth/authenticate') doesn't detect JWT Expiry"
### Steps to reproduce
Simply put a router Navigation Guard code such as:
[code]

You set a 10s long token and then you change routes after expiry.
I feel this used to work but now I am doubting haha

### Expected behavior
It would have ran the code in the catch function...

### Actual behavior
Store.dispatch('auth/authenticate') is alway sucessfull even if expired.

### System configuration
teste

[2021-02-26 21:30] fontzter commented on #574
So, how would I get this to work on Vue2 with composition-api and use Vite?
Vite keeps throwing this error at startup:
`node_modules/feathers-vuex/dist/FeathersVuexPagination.js:7:2: error: No matching export for import "h"`

Thanks!

[2021-02-27 02:58] marshallswain commented on #574
We would have to remove the double import/export from the code.  I don't
think you'll get it to work any other way.  This will be a breaking

change, so it's a good time to do so.  Nuxt didn't announce anything
imminent, so I'll be releasing very soon.

On February 26, 2021, GitHub <notifications@github.com> wrote:

—
You are receiving this because you were mentioned.
Reply to this email directly,

[2021-03-03 14:05] SaadiSidali opened #579 "Patch returns undefined"
I was trying to make a service that tells the user how many elements got patched
the find method on the service returns an object but patch does not
![image](https://user-images.githubusercontent.com/54617012/109816766-64b8b380-7c31-11eb-80b7-674d9268ad17.png)

![image](https://user-images.githubusercontent.com/54617012/109815554-10f99a80-7c30-11eb-9877-5c5df85908be.png)

The ui updates automatica

[2021-03-06 20:09] marshallswain commented on #579
All methods should return an object.  The only time it won't return the data should only be when the data being returned does not have an attribute that matches the "idField" configuration on the service.

[2021-03-06 20:11] marshallswain commented on #575
@barnacker thanks for the issue.  That's totally a valid use case.  I've never had it implemented and it doesn't seem like something that should be baked in.  There are just too many varying requirements for authentication on a per-app basis.  I've had to be very selective about what to bake in.   However, having this as a recipe in the docs seems like a great idea.  I'm going to label it as a doc

[2021-03-06 20:17] marshallswain opened #580 "Fix hypen characters in the vue-demi branch."
Same as this PR, but in the vue-demi branch: https://github.com/feathersjs-ecosystem/feathers-vuex/pull/562

[2021-03-06 20:18] marshallswain opened #581 "Fix this bug in the vue-demi branch"
Same as this PR, but for the vue-demi branch: https://github.com/feathersjs-ecosystem/feathers-vuex/pull/566

[2021-03-06 20:21] marshallswain commented on #555
@briancbarrow you can find it here: https://github.com/marshallswain/feathers-vuex-vite-spa

[2021-03-06 20:21] marshallswain commented on #555
Status update, I'm still testing this out in a couple of applications.  I have a utility that I'm updating for the new release that will assist in working with cloned values.  So far it's really working well.

[2021-03-06 20:25] marshallswain opened #582 "Add this enhancement in vue-demi branch"
Just like this PR, but for the vue-demi branch: https://github.com/feathersjs-ecosystem/feathers-vuex/pull/571

[2021-03-08 15:52] barnacker commented on #575
I saw that you used a standard library for JWT and they say it does check that and returns an error by default and I thought maybe you override the default when calling jwt.verify but then I saw you used a parameter so I thought I could maybe activate it but I got lost in the debugger somewhere in the stack around some async code hahaha so... I guess, my question originally was: Can I pass options

[2021-03-08 16:24] marshallswain commented on #575
I recommend importing the jwt-decode package and manually checking.

[2021-03-16 16:30] marshallswain opened #587 "Remove lodash.values"
![Screen Shot 2021-03-16 at 10 30 28 AM](https://user-images.githubusercontent.com/128857/111345213-ac343c00-8642-11eb-82ca-71f6c846c569.jpg)

[2021-03-16 20:07] J3m5 commented on #587
I've started working on it and ended-up making a refactor of the getters module.
In fact, this is the only place were there was still the lodash `values` method.

[2021-03-17 04:27] marshallswain commented on #587
Awesome.  Could you make these same changes in the vue-demi branch?  I really need to get the documentation done.  That's all that's left to publish.  I was going to switch it to Nuxt, but instead am now choosing to keep what we have.  Time to keep things simple with so much else going on.

Anyway, thanks for starting the PR.

[2021-03-17 08:51] J3m5 commented on #587
No problem, do you see anything else that need to be addressed ?

[2021-03-18 15:30] philipimperato opened #589 "Empty .value when using the setup() method in compositionApi"
Question about `compositionApi` and `useFind`

When querying my Notes service:
[code]

I have a populate items on refresh and on when navigating to the route through the app

Now, when I want to filter the date:
[code]

`items` is always populated, but `item2` is only populated when I navigate to the component through the app and is empty on refresh. I understand you lose the store... and it appea

[2021-03-18 15:41] J3m5 commented on #589
Can you share the whole component please?
It's hard to tell without the rest of the code.

[2021-03-18 17:23] J3m5 commented on #589
I'd say that filtering on the value make it loose reactivity.
You should make it a computedto make it works.

At first sight, it seem's to be a problem with vue 3 reactivity.

[2021-03-18 19:42] philipimperato commented on #589
Should I mention something to someone? The docs seem to be not working, no?

[2021-03-18 20:41] J3m5 commented on #589
This is exactly what is happening.

The response of the find request has not yet arrived, and as the reactivity has been lost it will no be updated will the requested values.

But once the component is reloaded, the values are already there because they are already in the store.

[2021-03-18 21:03] philipimperato commented on #589
Yup, I figured that, but was thrown off by the usage within the docs
https://vuex.feathersjs.com/composition-api.html#usefind

[code]

[2021-03-18 21:15] J3m5 commented on #589
Yep, those two todos array should be wrapped in a computed...

[2021-03-19 04:27] marshallswain commented on #589
ah thanks @philipimperato for pointing out the inconsistency in the docs.  And as always, thank you @J3m5 for pitching in to see the fix!

I just pushed up a fix for the docs that wraps those two filtered arrays into computed properties.

[2021-03-19 04:27] #589 closed

[2021-03-30 13:54] cs-matt commented on #494
Why was this closed? It's not reactive for me in Nuxt either.

[2021-03-30 20:29] ericuldall commented on #10
Should this be picked up on duplicate open tabs? Right now if I have my app open in 2 tabs and log out in one, the other is still logged in and actions just break when they expect valid credentials.

[2021-03-30 21:16] ericuldall commented on #10
For now I'm doing this:

[code]

Simple and effective. Please let me know if there's a better way.

[2021-04-01 12:22] cs-matt commented on #435
Hey guys I wanted to share a workaround that worked for me to get authenticated server side whereas @mategvo's solution will only work client side which can cause problems.

The root of the problem comes from the fact that `cookie-storage` requires `document` to work properly which will not work server side to parse the `feathers-jwt` token.

Compounding that fact is that `plugins/feathers` from t

[2021-04-02 12:42] eslachance commented on #574
I'm having the same issue trying to get an existing project to work with vite 2. I'm not using nuxt or anything, it's just a project with feathers-vuex...

[code]

[2021-04-02 18:40] eslachance commented on #574
So, specifically the problem is, feathers-vuex is requiring @vue/composition-api 0.6.1 which does *not* have `h` exported. So I'm maybe a bit confused, why not just update to composition api 1.x and get rid of this error?

[2021-04-03 03:32] marshallswain commented on #574
It’s a breaking change and it’s planned for release soon.  I have
documentation to update.

On April 2, 2021, GitHub ***@***.***> wrote:

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/feathersjs-ecosystem/feathers-
vuex/issues/574#issuecomment-812659767>, or unsubscribe
<https://github.com/notifications/unsubscribe-
auth/AA

[2021-04-07 15:30] joshuaja opened #590 "Add support for the `disablePagination` hook in `feathers-hooks-common`"
### Steps to reproduce

`feathers-hooks-common` has a [disablePagination](https://hooks-common.feathersjs.com/hooks.html#disablepagination) hook that allows us to pass in `$limit: -1` to disable pagination for a Feathers service.

When passing `$limit: -1` to `useFind` params in `feathers-vuex`, we have to use both `params` and `fetchParams` as a workaround since `feathers-vuex` doesn't see `$limi

[2021-04-14 15:21] EmileSpecs opened #591 "Store find getter cannot filter complex $modify query implemented on server"
Hi!

I'm using feathers-objection on the server side and using a modifier for a complex filtering task. It returns the correct data from the server, but the fetchParams for the store has no concept of how the modifier works so it simply returns all the data in the find getter.

How do I get the Vuex store find getter to filter the data, or can I just simply tell it to always use all the data retur

[2021-04-15 14:17] tvr3000 opened #592 "FeathersVuexFormWrapper not working with Vue 3"
### Actual behavior
- `setup` function in `FeathersVuesFromWrapper.ts`  generates an error when the watcher of the clone is initialised.  (cb.bind is not a function)
it works if changed to `const cb = this.markAsDirty; this.$watch('clone', cb, {deep: true}`
- in the `render` function `this.$scopedSlots` is removed in vue 3. `this.$slots.default` fixes the problem

[2021-04-17 13:05] tkssharma commented on #434
`vue.runtime.esm.js?2b0e:619 [Vue warn]: Error in callback for watcher "function () { return this._data.$$state }": "Error: [vuex] do not mutate vuex store state outside mutation handlers."`

----- LONG STACK TRACE -----
could have been helpful if i know which store property is creating this issue

[2021-04-28 04:57] fratzinger commented on #590
That's something I have to do quite often. FeathersVuex takes `$limit: -1` as `$limit: 1` and just returns one item.
@marshallswain: is this something that can work natively without any breaking changes for anyone not working with `disablePagination`? So should this just work by default or should it be an option (e.g.: `addSupportForLimitMinusOne`)?

As I use it quite often, I would like to add th

[2021-04-29 18:15] flaviospagnuolo opened #594 "Store doesn't removes a property on a document after a patch with an $unset on that property of the document."
### Steps to reproduce

1. Retrieve some documents from a service using find action
2. Get the corresponding documents from the store using the find getter
3. Execute a patch in one of the retrieved documents, with a { $unset: { someProp: 1 } } as the data (delete a property)

### Expected behavior
The document in the store should be updated and the deleted property should be removed from it.

###

[2021-05-03 14:57] anyban opened #595 "vuex store get reAuth : No accessToken found in storage"
[code]
uploads store
[code]

cant found : No accessToken found in storage

[2021-05-03 16:05] #595 closed

[2021-05-04 19:15] philipimperato commented on #504
When using vite, this produces a build error:

![image](https://user-images.githubusercontent.com/2430560/117057548-93174580-aceb-11eb-98d9-b10ffb18d743.png)

[2021-05-04 19:21] philipimperato commented on #574
Update on this?

[2021-05-06 23:16] JoseCadenas opened #596 "[Quasar] boot error: TypeError: Cannot set property '$FeathersVuex' of undefined"
### Steps to reproduce

I am getting the error stated above, $FeathersVuex is undefined. I set up FeatherVuex pretty much verbatim up until the Vuex Store setup came along. The docs state having this:
[code]

The only modification I made was moving the Vue.use calls to Quasar Boot files:
[code]

My index.js:

[code]

What else should I include to further explain my issue? Any help is greatly appre

[2021-05-07 08:24] J3m5 commented on #596
Quasar V2 is using Vue 3, the current version of FeathersVuex is using Vue 2.

[2021-05-08 03:10] JoseCadenas commented on #596
Thank you very much, I didn’t realize that! Just in case anyone is ignorant like myself, I fixed this issue with the package name @feathersjs/vuex.

Source: https://github.com/feathersjs-ecosystem/feathers-vuex/issues/555#issuecomment-738961333

[2021-05-10 14:56] #596 closed

[2021-05-22 12:28] songololo opened #598 "Andy future plans to support Pinia or Vuex 5 stores?"
This is a question about future plans:

Is support for Pinia or Vuex 5 (once available) types of store on the horizon?

Thanks.

[2021-05-26 12:45] J3m5 opened #599 "ReplaceItems option doesn't works when patching/updating value with null"
### Steps to reproduce

If you make an update with deleted properties or a patch with properties with null values, you'll get back the new items from the api without those properties.
When adding the `replaceItems` for the items to be completely replaced, this doesn't works because a merge is still done at the end, the items are not replaced.

### Expected behavior

The `replaceItems` option shoul

[2021-06-04 16:01] william-seaton opened #602 "Potential Issue with Params.Paginate set to true"
### Steps to reproduce

Use the composition API on a registered service and set `params.paginate = true` which should disable live updates

### Expected behaviour

It should use server side pagination instead according to [the documentation](https://vuex.feathersjs.com/composition-api.html#options)

### Actual behaviour

It throws two errors on runtime:

[code]

[code]

### System configuration

H

[2021-06-07 20:38] yohane55 commented on #411
I think this a bug in `useFind` of composition api. In my old project with `...mapActions` & `...mapGetter`, it works without whitelisting or other configuration. @marshallswain will you work on to fix this or should we give up on composition api for now?

[2021-06-11 03:57] gmercey opened #603 "FeathersVuexGet component doesn't work with params"
### Steps to reproduce

[code]

### Expected behavior
User object with nested profile object

### Actual behavior
User object is empty.
The component works fine without params.
The query return the expected results without the component.

The issue is how the component use the store getters. According to the documentation `fetchParams` is only used for the API for the API server, and the component

[2021-06-22 23:29] dkebler opened #604 "add one time sponsor"
Can you add one time sponsor like sindre -shorus https://github.com/sponsors/sindresorhus?frequency=one-time
I want to donate but just one time.  I suggest 10,50,100
Thx

[2021-06-24 17:22] dkebler commented on #604
or just post a link to send you $$ via paypal

[2021-06-28 15:54] kornalius opened #605 "makeFindMixin uses the same object instance for data"
### Steps to reproduce

This is a though one to explain, however I found the solution. I spent a few days on this one.

1. Create 2 components that are called recursively within each other, where one of them use a makeFindMixin.
2. Put a watcher on the is{name}FindPending data and console.log the newValue and the this._uid of the component instance.

[code]

It will always log on the first compone

[2021-06-28 19:15] J3m5 commented on #605
Good point!

[2021-06-30 11:35] CodeMetric opened #606 "$like operator not working in local getters(using sequelize)"
$like operator is whitelisted in both server and in client via service plugin feathersVuex

**/store/index.js**
[code]
**/user.vue**
[code]
The above query throws the error [Vue warn]: Error in render: "Error: Unknown operation $like"

The server returns filtered response correctly but unable to filter the Vuex store using $like operator

### Module versions:
**vue**: 2.6.12,
**Feathers-vuex**: 3.

[2021-06-30 11:59] J3m5 commented on #606
The `$like` operator is not available in [sift](https://github.com/crcn/sift.js), the library used to query the vuex stores.

The equivalent would be the [$regex](https://github.com/crcn/sift.js#regex) operator, you can use two different queries, one for the server with `$like`,
and another for the local query, with the `$regex` operator.

[2021-07-01 17:40] corepay commented on #599
Hi, is this fix in a release?

[2021-07-01 20:25] J3m5 commented on #599
Not yet @corepay
Any idea when you can take a look @marshallswain ?

[2021-07-02 04:45] CodeMetric commented on #606
@J3m5 Thanks for providing me the right direction!
I've used the queries in two different ways as `$like` for server and` $regex `for local getters, and whitelisted `$regex` in store index. Now its working correctly.

[2021-07-02 04:45] #606 closed

[2021-07-02 11:50] J3m5 commented on #590
Too me it seems that we just need to handle the -1 value specifically in the find getter.
Currently, it is just passed as the last parameter of the slice method [there](https://github.com/feathersjs-ecosystem/feathers-vuex/blob/master/src/service-module/service-module.getters.ts#L88).
We could detect the value and act accordingly by not slicing the items and returning just the items, not the pagin

[2021-07-02 12:05] Yavorss commented on #590
We also discussed that approach. The problem is the following. `feathers-vuex` uses the function `filter-query` from `feathers` and that function transforms the incoming number to absolute value, so `-1` turns to `1`. That means that we need to implement that logic specifically for the value `-1` otherwise that would be a breaking change if we do not transform numbers to an absolute value(it's pos

[2021-07-02 12:29] J3m5 commented on #590
The filter-query behavior doesn't prevent us to do what I suggested.

The filter-query method is called [there in the getter](https://github.com/feathersjs-ecosystem/feathers-vuex/blob/4ae03bae9b31802e5355871826626ca80236a3ce/src/service-module/service-module.getters.ts#L54),
 so wee can still check the value of the $limit param before it is called or even after by getting it in the params because

[2021-07-03 23:26] marshallswain commented on #598
@songololo, I'm creating support for Pinia in a separate project.  So far the experience is one million times better than using Vuex. I don't have any details of when it will be ready for public use.

[2021-07-03 23:28] marshallswain commented on #605
Good catch! @kornalius it's funny to me that I never noticed this.  I guess I didn't spend much time with the mixins before switching to the composition api.  This is definitely a bug and should be an easy fix.

[2021-07-03 23:32] marshallswain commented on #604
@dkebler Thanks for pointing this out.  I've created an option for one-time contributions.  I just created one for $25 and set it to allow customizing the amount to whatever you'd like.   I really appreciate this.  Thank you.

[2021-07-03 23:35] marshallswain commented on #594
Hmm... This is not an advertised feature, and not a bug.  But it's worth considering for a future update.  I'll mark it as an enhancement.

For a workaround, maybe the replaceItems option will work?  I've actually never run into the need to do this, so I'm not sure exactly how to do it.

[2021-07-04 09:11] J3m5 commented on #594
I think this is the same problem as desccribed in this [issue](https://github.com/feathersjs-ecosystem/feathers-vuex/issues/599).
You must use the replaceItems option with the next release.

[2021-07-05 15:54] flaviospagnuolo commented on #594
Hi @marshallswain, thanks for your answer. I know this is not an advertised feature, I am new to Feathers and to my limited knowledge I thought that if a document changes on the server and the vuex store is notified the document should be updated in the store. Since I wrote my OP, I have also found that if a document is added to the store without a property and then this property gets added to the

[2021-07-05 17:37] marshallswain commented on #603
Oh, good point!  If you want to make a PR to separate them, I'll accept it.  I don't have the ability to focus on this right now.

Thanks for the excellent bug report.

[2021-07-05 17:43] marshallswain commented on #602
So the bigger issue here is definitely SQL integration.  It's more difficult than with MongoDB because each SQL ORM has its own implementation.  Since I'm so accustomed to using MongoDB in apps, I never run into the issue.  I think the real solution is to create a library of custom params that people can pass into feathers-vuex which feathers-vuex then hands off to the sift module.

As for this is

[2021-07-05 17:45] marshallswain commented on #590
We should definitely support this directly.  I'm a bit swamped at the moment, so I can't participate much for another like 2 months.  If any of you would like to create a PR, I'll make time to review and merge.

[2021-07-06 06:09] marshallswain commented on #594
The reactivity problem exists due to how Vue 2 handles reactivity.  The properties have to be defined up front.  There's not a performance way to add a bunch of properties dynamically later.  Vue 3 doesn't have this issue with its reactive layer, but I'm not sure if Vuex still does.

[2021-07-06 08:04] J3m5 commented on #594
A possible solution would be to use the Vue set method on each properties each time an item is updated but I'm not sure if it would be good in term of performance...

[2021-07-06 13:54] flaviospagnuolo commented on #594
Thanks @marshallswain and @J3m5 for your help, I'll take your advices into account and keep setting all the relevant properties within the instanceDefaults.

[2021-07-08 22:18] rayfoss commented on #555
As I'm working to catch up on Vue 3, Vuex and Feathers developments...
Made this Vue 3 app on their cheap "Serverless" sandbox https://codesandbox.io/s/vue-3-worker-fibonacci-9v1li

It also uses CORS with a free runkit sandbox... so that's interesting.
If it gets too annoying to update the demo sandbox I could use the container version, but that requires logging in, and cant' be embedded in websit

[2021-07-13 22:22] MariaCamilaCubides opened #608 "$sort when field data is NULL"
### Description

Hello, guys. I am making a query to the store filter by an array of ids and sorting by a specific field, but it doesn't matter if I sort ASC or DES the NULL value is always at the first position of the result.

The array of devicesIds is [ "a1732fb5-dca7-4895-a668-eacca0c10fb9", "361ce725-a5dc-4e43-ae73-a29a2ac0eec7" ]
And the last user of those Ids are the following:
 - "a1732fb5

[2021-07-14 19:50] J3m5 commented on #608
Hello.
Sorting is handled by the [@feathers/adapter-commons package](https://github.com/feathersjs/feathers/blob/dove/packages/adapter-commons/src/sort.ts) which use the sort algorithm of the NeDb package.

Maybe you should try to ask in the feathers repository.

[2021-07-22 08:37] Heartnett commented on #504
I have the same issue as @philipimperato. except I'm using vitejs

[2021-08-06 14:10] fratzinger commented on #573
This article is a good starting point. Recently I thought about making a composition utility, something like:

[code]

`useReactive` then globally handles onMounted and on Destroyed to subscribe/unsubscribe to call create/remove methods on the server.

Does that make sense anyhow? 😆

[2021-08-09 23:54] JoseCadenas commented on #555
Hey @marshallswain,
Did you finish testing/development with clones? I have been having issues with cloning, the items clone correctly but .reset() and .commit() are not working for me.

The error that's thrown:
[code]

While digging through the code I house this comment that's concerning:
[@feathersjs/vuex/dist/utils.vue3.js]
[code]

When the mutation function merge [@feathersjs/vuex/dist/service-

[2021-08-11 12:09] bzd2000 opened #609 "Performance issue Find with more than 500 records"
### Steps to reproduce

When calling find action with a resulting dataset of more than 500 records, it takes 15 seconds to update the store.

### Expected behavior
Faster store update

### Actual behavior
takes 15 sec.

### System configuration

Tell us about the applicable parts of your setup.

**Module versions** (especially the part that's not working): "@feathersjs/vuex": "^4.0.1-pre.16",

**N

[2021-08-11 16:32] J3m5 commented on #609
This is interesting, could you verify that the items added to the store this way are still reactive ?
I'll send a PR with the fix and it might be good idea to add a benchmark, to see the perf improvement.
What do tou think @marshallswain ?

[2021-08-11 18:03] marshallswain commented on #609
I'm surprised that it's still doing mutations one at a time.  I thought we addressed that.  If not then we definitely need to get this in place.  Thanks for the catch.

[2021-08-11 21:57] J3m5 commented on #609
@marshallswain I think we talked about it bu never realy implemented it.

It should stay reactive as the keyedById and ids properties are reassigned instead of adding properties on them.

[2021-08-12 07:41] bzd2000 commented on #609
When I add a new record via Postman, I see it appearing on my frontend
So it is still e2e reactive.

[2021-08-12 07:53] bzd2000 commented on #609
The only thing is that when adding or updating one record it is less optimal now (for javascript), but is not noticable.
I wonder if completely re-assigning state.keyedById triggers more reactive updates compared to adding one extra property.

[2021-08-12 10:54] J3m5 commented on #609
Spread has been optimized in browser engines and should be at least as fast as Object.assign

 A workaround could be to detect if there is only one item in the response and update the state accordingly.

This is a possibility, it depends if Vue is smart enough to detect that the items didn't change but if not, it might trigger components re-rendering.

I think we should apply the same logic for th

[2021-08-12 14:16] J3m5 commented on #609
We could also squeeze a bit more performance when checking for existing items.
We could check if the id has an item in the keyedByIds object instead of using includes on the ids Array, unless there is a case where an item it's in the ids array but not in keyedByIds @marshallswain ?

[2021-08-12 14:38] marshallswain commented on #609
You are correct. That would be a good improvement, although I believe
chromium internally optimizes that code to use a map, I’ve not read
anything like that about other browsers.

On August 12, 2021, GitHub ***@***.***> wrote:

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/feathersjs-ecosystem/feathers-
vuex/issues/609#issu

[2021-08-12 14:44] J3m5 commented on #609
chromium internally optimizes that code to use a map, I’ve not read
anything like that about other browsers.

I knew that Sets ans Maps used a hash map internally in V8 but I was not aware of this being the case for Arrays and I didn't find anything on that...

[2021-08-12 14:51] marshallswain commented on #609
So it might improve everywhere.  Let’s do it

On August 12, 2021, GitHub ***@***.***> wrote:

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/feathersjs-ecosystem/feathers-
vuex/issues/609#issuecomment-897700012>, or unsubscribe
<https://github.com/notifications/unsubscribe-
auth/AAA7OWJ5EIYHNREWY6PJTRDT4PM4BANCNFSM5B6KMSBQ>.

[2021-08-13 22:06] J3m5 commented on #609
There is one problem, the tests ` it('correctly emits events for new...` fails if we don't use the `updateOriginal` method.
This is because the tests watch a property that is undefined and that is added after the watcher has been setup.

But this is because the properties added has not been initialized.
I have always initialized my items properties because if some properties are manually added wit

[2021-08-17 08:34] fratzinger commented on #609
+1. I've also performance issues on slow machines.

The solution sounds nice! Your code is for vue3, right?

I also wonder if that would make a difference for vue2: `Vue.set(state, 'keyedById', {...state.keyedById,...keyedById})`.

We definitely should add performance tests for that with 1k items or something. We could also catch if it's just one item.

[2021-08-17 08:56] fratzinger commented on #587
This is merged in master (#588) and in vue-demi (#593). It's only used in tests on both branches.
To get things cleaned up a little bit, I think this can be closed. Please reopen, if I'm wrong.

[2021-08-17 08:56] #587 closed

[2021-08-18 15:49] philipimperato commented on #504
Was this fixed yet?

[2021-08-18 22:36] J3m5 commented on #504
The lib is stable now with the v1 release, I think we can make it the default version now.

[2021-08-24 05:08] gustojs opened #610 "Recommended way to use feathers-graph-populate with feathers-vuex auth system"
When the user is logged in, `feathers-vuex` provides the `user` getter that returns the reactive, logged-in user from the userService.

What's the optimal way to populate it using `feathers-graph-populate`?

Should we inject it somewhere during the configuration steps? Or should we leave the auth system as is and just make a separate call to get the user data?

[2021-08-30 09:28] thomasvds commented on #555
Hi @marshallswain could you kindly provide an updated status on Vue 3 compatibility? We're big fans of FeathersVuex at my company and for us this is the key lib that we wait to be compatible before we move to Vue 3. Thanks a lot 🙏

[2021-09-01 07:18] bzd2000 commented on #609
Any idea when this can be solved?

[2021-09-01 08:36] J3m5 commented on #609
I've been on vacation in the mean time.
I'll try to look into it in the next days but we need to agree on the way we handle this, as mentioned [in my last comment](https://github.com/feathersjs-ecosystem/feathers-vuex/issues/609#issuecomment-898743865)

[2021-09-01 11:39] marshallswain commented on #555
The prerelease should already work with Vue 3.   You may want to give
feathers pinia a try, too. It is more like what Vuex 5 will be in the
future.

On August 29, 2021, GitHub ***@***.***> wrote:

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/feathersjs-ecosystem/feathers-
vuex/issues/555#issuecomment-908190798>, or unsubsc

[2021-09-01 15:43] thomasvds commented on #555
Thanks @marshallswain , we'll try it out!

[2021-09-07 09:38] ap1969 commented on #555
Hi @marshallswain

Am I correct in assuming it's the @feathersjs/vuex@4.0.1-pre.xx releases that support vue 3?

Thanks for your work on this.

Andy

[2021-09-07 19:05] marshallswain commented on #555
That's correct.

On September 6, 2021, GitHub ***@***.***> wrote:

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/feathersjs-ecosystem/feathers-
vuex/issues/555#issuecomment-914155187>, or unsubscribe
<https://github.com/notifications/unsubscribe-
auth/AAA7OWOF54GIHGKSRS5DW7TUAXMSLANCNFSM4UMXLFKQ>.

[2021-09-08 09:54] ap1969 commented on #555
Excellent, thanks Marshall

[2021-09-13 14:52] ymarcon commented on #555
Hi @marshallswain,
I can't manage to install the @feathersjs/vuex@4.0.1-pre.xx pre-release because npm says "Missing package version", and indeed there is no `version` in the package.json. Am I missing something?

[2021-09-13 19:49] ymarcon commented on #555
Oh ok, I assumed the pre-release was not in npm's registry and was installing it from the tarball. Thanks!

[2021-10-06 13:16] marshallswain commented on #609
Whatever we end up doing for the fix, let's remove `ids` from the state and turn it into a getter.

[2021-10-06 13:23] marshallswain commented on #609
@J3m5, related to your [comment on Aug 13](https://github.com/feathersjs-ecosystem/feathers-vuex/issues/609#issuecomment-898743865), for Vue 2, let's just expect the properties to have been predefined.

Feeling this through more, it seems like the original reason for implementing the slower solution had something to do with form bindings.  I can't remember exactly what it was, though.  As long as

[2021-10-07 22:14] MariaCamilaCubides commented on #608
Hello @marshallswain.
I found the origin of the issue. Null values are grouped by default at the beginning or ending according to the database, however, databases such as PostgreSQL allow you to set the position of the nulls. The sort doesn't work well because the API returns the nulls at the beginning and feathers-vuex returns the nulls at the end so when I use the pagination the results from the

[2021-11-11 19:34] miguelrk commented on #504
@marshallswain I went ahead and opened up a PR #612 with a simple patch to fix this in case you want to take a look.

I'd appreciate it, since this is causing errors for vite builds. Thanks!

[2021-11-12 09:15] miguelrk commented on #574
I just opened PR #612 to remove createElement in favor of h and hopefully fix this now that the composition-api is stable

[2021-11-12 13:46] marshallswain commented on #608
@MariaCamilaCubides it looks like the PR got merged.  Can this issue be closed?

[2021-11-12 13:47] #604 closed

[2021-11-20 06:17] FossPrime commented on #555
I couldn't get the classical $FeathersVuex Vue 3 app mixin to register with `@feathersjs/vuex@4`. Not sure if that's intentional, I assume we should register it ourselves if we want the classical API access

https://codesandbox.io/s/xk52mqm7o

[2021-11-22 20:22] FrancescoEnea opened #613 "Auth plugin fails to generate the getters when userService contains a path-like name, e.g 'v1/users'"
### Steps to reproduce

When feathersVuex is configured with `nameStyle: 'short'` and the user service contains a path-like name, e.g `v1/users` the authorization process fails to generate the getters (`user` and `isAuthenticated`) because it's unable to find the correct rootState.
The method `makeAuthGetters` should take into consideration the `nameStyle` (as `makeServicePlugin` already does with

[2021-12-13 16:47] FossPrime opened #615 "[FR] Export BaseModel at the module level"
# Description
BaseModel should be exported at the feathers-vuex module level so we can take advantage of the two step Js Module compilation.

Currently, we have to initialize feathers-vuex at runtime to get access to the static BaseModel. This is particularly helpful when you need to asynchronously fetch Feathers endpoint configuration from a server or a service worker cache and you can't synchron

[2022-01-01 19:35] corepay opened #616 "Keycloak / feathers server and client library"
Hi Marshall,

Been using feathers-vuex pretty successfully in several apps thus far - haven't ventured into vue3 and composition API yet haven't found the need or desire...yet.

Anyway, I have a fairly complex setup and user authentication requirements where on one hand I have a local strategy type login and the other an api-token login into my feathers-vuex app.  Too hard and boring to explain he

[2022-01-01 22:14] giesekow commented on #616
Hi, @corepay and @marshallswain I have been using feathers for a while and also keycloak for my authentication. When I tried connecting these two I couldn't find any out-of-box connector so I wrote the above-mentioned library which works very fine now.
There is no proper documentation yet! But if you are interested in testing this I can spend some time to write a brief "Getting Started" steps for

[2022-01-01 23:07] marshallswain commented on #616
@giesekow I haven't used keycloak, myself, but this would be beneficial for the community.  If you will write up some docs in your readme, I'll figure out from where in the docs to link them.

[2022-01-02 01:00] corepay commented on #616
Sounds good from here!  Be kinda cool to have a auth0 option using feathers.  I can help from use case for sure, maybe more.

@marshallswain we've had a few discussions in slack or discord before you've been a big help, thank you.  FYI if interested, I've successfully deployed a micorfrontend  pulling in 7 domain-modeled vuex apps (customers, products, invoices etc) with feathers-vuex auth/store/m

[2022-01-02 20:09] giesekow commented on #616
@marshallswain and @corepay I have added the documentation and have pushed the current changes to npm as version 1.1.0 in both server and client libraries.

If you have some time you can have a look at the docs[ here](https://github.com/giesekow/feathers-keycloak-connect)

Will be happy to get some feedback from you.

[2022-01-02 20:24] corepay commented on #616
Thank you Giles.  Will setup keycloak and give it a run and report back in your repo this week.  @marshallswain changed issue title, np if not a feathers-vuex related lib and you want to throw this over to the feathers repo...

[2022-01-16 17:58] palmtown opened #617 "TypeError: Cannot read properties of undefined (reading 'set')"
### Steps to reproduce

(First please check that this issue is not already solved as [described
here](https://github.com/feathersjs/feathers/blob/master/.github/contributing.md#report-a-bug))

- [ ] Tell us what broke. The more detailed the better.
- [ ] If you can, please create a simple example that reproduces the issue and link to a gist, jsbin, repo, etc.

### Expected behavior
 Solution provi

[2022-01-24 11:03] rabalyn opened #618 "FeathersVuexPagination does not work with vue 3"
### Steps to reproduce

(First please check that this issue is not already solved as [described
here](https://github.com/feathersjs/feathers/blob/master/.github/contributing.md#report-a-bug))

- [ ] Tell us what broke. The more detailed the better.
- [ ] If you can, please create a simple example that reproduces the issue and link to a gist, jsbin, repo, etc.

- setup vue 3 and feathers-vuex
- use

[2022-02-25 19:00] ericuldall opened #619 "Simple date filter from store not working"
I have a basic events structure with a start/end date and i'm trying to filter it in the store:
[code]

this.start = `Tue Feb 01 2022 00:00:00 GMT-0800 (Pacific Standard Time)` as a Date object

current state for events in store:
[code]

It will return all events in the store if I remove the `start: { $gte }` filter, however when filtering by start date it returns and empy result set. Any ideas?

[2022-04-06 08:32] #422 closed

[2022-04-15 06:33] rkevinn opened #621 "auth user is not updated reactively"
Hi,

I am using the vuex auth plugin for authentication. I have a `profiled` field in user. If the user has a complete profile, can access all features, else push the user to Profile page. The `profiled` field validation is in the router.  When the profile is updated, it does not update the authenticated user in the store state.auth.user.

[code]

I have the following Vuex store (store/index.js):

[2022-06-17 22:00] DimitriMichel commented on #555
@marshallswain seems like the pre-release still relies on the old Composition API any plans to change this?

[2022-06-18 04:24] marshallswain commented on #555
@DimitriMichel  is there a new package for it? I thought Vue-Demi was the way to go.  Enlighten me, please

[2022-06-18 21:18] DimitriMichel commented on #555
@marshallswain Actually it turns out there was an error emitting from an unrelated dependency conflict. Thanks for the quick response though!

[2022-07-03 07:45] GaborTorma opened #626 "Supporting Vue 2.7"
I got the following error message when I trying install Vue 2.7

[code]

[2022-08-11 19:35] aliciahogue commented on #626
Same issue here.  Any workarounds?